In [2]:
import numpy as np
import pandas as pd

In [3]:
#VASC stands for VAuto Sold Clean
#VASNC stands for VAuto Sold New Clean
VASC = pd.read_csv('vauto_sold_market_vehicle_clean.csv')
VASNC = pd.read_csv('vauto_sold_market_vehicle_new_clean.csv')

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
print(VASC.shape)
VASC.columns

(5125376, 41)

Index(['vin', 'postal_code', 'stock_number', 'model_year', 'make', 'model',
       'series', 'series_detail', 'odometer', 'new_used', 'is_certified',
       'body_description', 'body_type', 'body_door_count', 'body_cab_style',
       'body_bed_style', 'body_roof_style', 'engine_description',
       'engine_cylinder_count', 'engine_displacement', 'engine_fuel_type',
       'transmission_description', 'transmission_type',
       'transmission_gear_count', 'drive_train_type', 'exterior_color',
       'exterior_base_color', 'interior_description', 'interior_color',
       'interior_material', 'categorized_equipment_ids', 'days_ininventory',
       'veh_segment', 'veh_type', 'created', 'last_seen', 'list_price',
       'seller_name', 'EFFECTIVE_START_TS', 'EFFECTIVE_END_TS',
       'LATEST_VERSION_IND'],
      dtype='object')

In [5]:
print(VASNC.shape)
VASNC.columns

(3750346, 40)

Index(['vin', 'postal_code', 'stock_number', 'model_year', 'make', 'model',
       'series', 'series_detail', 'odometer', 'new_used', 'body_description',
       'body_type', 'body_door_count', 'body_cab_style', 'body_bed_style',
       'body_roof_style', 'engine_description', 'engine_cylinder_count',
       'engine_displacement', 'engine_fuel_type', 'transmission_description',
       'transmission_type', 'transmission_gear_count', 'drive_train_type',
       'exterior_color', 'exterior_base_color', 'interior_description',
       'interior_color', 'interior_material', 'categorized_equipment_ids',
       'days_ininventory', 'veh_segment', 'veh_type', 'created', 'last_seen',
       'list_price', 'seller_name', 'EFFECTIVE_START_TS', 'EFFECTIVE_END_TS',
       'LATEST_VERSION_IND'],
      dtype='object')

In [6]:
VASC.head()

,vin,postal_code,stock_number,model_year,make,model,series,series_detail,odometer,new_used,...,days_ininventory,veh_segment,veh_type,created,last_seen,list_price,seller_name,EFFECTIVE_START_TS,EFFECTIVE_END_TS,LATEST_VERSION_IND
0,137PH90376E217503,85260,TCS-17503,2006,Hummer,H1,Open Top,NaN,12980.0,U,...,278,Luxury Sport Utility,U,2018-02-06 00:00:00.000000000,2019-09-24 00:00:00.000000000,NaN,THE COLLECTION OF SCOTTSDALE,2019-10-06 00:00:00.000000000,1815-03-31 05:56:08.066277376,1
1,19UDE2F30HA009689,3060,N3513A,2017,Acura,ILX,2.4L,NaN,31319.0,U,...,29,Compact,C,2019-08-17 00:00:00.000000000,2019-09-15 00:00:00.000000000,15270.0,INFINITI OF NASHUA,2019-09-27 00:00:00.000000000,1815-03-31 05:56:08.066277376,1
2,19UDE2F37HA003470,11377,3470,2017,Acura,ILX,Base,NaN,36558.0,U,...,46,Compact,C,2019-06-22 00:00:00.000000000,2019-08-12 00:00:00.000000000,24995.0,NYC MOTORCARS,2019-08-24 00:00:00.000000000,1815-03-31 05:56:08.066277376,1
3,19UDE2F3XGA000304,3103,HM02476P,2016,Acura,ILX,2.4L,NaN,47871.0,U,...,46,Compact,C,2019-08-26 00:00:00.000000000,2019-10-12 00:00:00.000000000,15304.0,AUTOFAIR HONDA,2019-10-24 00:00:00.000000000,1815-03-31 05:56:08.066277376,1
4,19UDE2F70HA004298,23060,17943982,2017,Acura,ILX,NaN,NaN,10834.0,U,...,2,Compact,C,2019-08-12 00:00:00.000000000,2019-09-08 00:00:00.000000000,21998.0,CARMAX RICHMOND,2019-09-20 00:00:00.000000000,1815-03-31 05:56:08.066277376,1

In [7]:
VASNC.head()

,vin,postal_code,stock_number,model_year,make,model,series,series_detail,odometer,new_used,...,days_ininventory,veh_segment,veh_type,created,last_seen,list_price,seller_name,EFFECTIVE_START_TS,EFFECTIVE_END_TS,LATEST_VERSION_IND
0,00MHK6D80K0000000,34711,S600K6D,2019,Ford,Flex,Limited,NaN,NaN,N,...,40,Intermediate Sport Utility,U,2019-07-17 00:00:00.000000000,2019-08-28 00:00:00.000000000,38877.0,My Ford of Clermont,2019-09-09 00:00:00.000000000,1815-03-31 05:56:08.066277376,1
1,19UDE2F30KA013572,19046,19K891,2019,Acura,ILX,Base,NaN,3.0,N,...,21,Compact,C,2019-08-22 00:00:00.000000000,2019-09-12 00:00:00.000000000,26895.0,SUSSMAN ACURA,2019-09-24 00:00:00.000000000,1815-03-31 05:56:08.066277376,1
2,19UDE2F33KA013209,11377,J12373,2019,Acura,ILX,Base,NaN,3.0,N,...,2,Compact,C,2019-08-13 00:00:00.000000000,2019-08-15 00:00:00.000000000,26795.0,PARAGON ACURA,2019-08-27 00:00:00.000000000,1815-03-31 05:56:08.066277376,1
3,19UDE2F33KA013999,10583,K2099,2019,Acura,ILX,Base,NaN,7.0,N,...,25,Compact,C,2019-09-07 00:00:00.000000000,2019-10-02 00:00:00.000000000,25955.0,Curry Acura,2019-10-14 00:00:00.000000000,1815-03-31 05:56:08.066277376,1
4,19UDE2F34KA008603,78750,KA008603Z,2019,Acura,ILX,Base,NaN,3.0,N,...,146,Compact,C,2019-05-01 00:00:00.000000000,2019-09-24 00:00:00.000000000,27295.0,DAVID MCDAVID ACURA OF AUSTIN,2019-10-06 00:00:00.000000000,1815-03-31 05:56:08.066277376,1

In [8]:
print(VASC['vin'].str.len().unique())
print(VASNC['vin'].str.len().unique())

[17]
[17]

In [9]:
VASC.describe()

,model_year,odometer,is_certified,body_door_count,engine_cylinder_count,engine_displacement,transmission_gear_count,days_ininventory,list_price,LATEST_VERSION_IND
count,5.125376e+06,5.051327e+06,5.125376e+06,5.123167e+06,5.110386e+06,5.109523e+06,4.397156e+06,5.125376e+06,4.490964e+06,5125376.0
mean,2.013503e+03,6.872180e+04,1.117249e-01,3.850274e+00,5.398122e+00,3.192820e+00,6.058587e+00,4.643040e+01,1.959315e+04,1.0
std,4.743934e+00,5.472782e+04,3.150277e-01,5.364161e-01,1.524122e+00,1.348728e+00,1.325186e+00,7.041949e+01,1.369331e+04,0.0
min,1.965000e+03,1.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.0
25%,2.011000e+03,2.774200e+04,0.000000e+00,4.000000e+00,4.000000e+00,2.000000e+00,5.000000e+00,1.000000e+01,1.147700e+04,1.0
50%,2.015000e+03,5.083400e+04,0.000000e+00,4.000000e+00,6.000000e+00,3.000000e+00,6.000000e+00,2.600000e+01,1.699100e+04,1.0
75%,2.017000e+03,9.953400e+04,0.000000e+00,4.000000e+00,6.000000e+00,3.600000e+00,6.000000e+00,5.600000e+01,2.499400e+04,1.0
max,2.020000e+03,4.000000e+05,1.000000e+00,5.000000e+00,2.000000e+02,1.500000e+02,1.000000e+01,4.635000e+03,2.795950e+06,1.0

In [10]:
VASNC.describe()

,model_year,odometer,body_door_count,engine_cylinder_count,engine_displacement,transmission_gear_count,days_ininventory,list_price,LATEST_VERSION_IND
count,3.750346e+06,2.435226e+06,3.748873e+06,3.735348e+06,3.735280e+06,2.974644e+06,3.750346e+06,3.063046e+06,3750346.0
mean,2.019105e+03,1.366784e+02,3.928657e+00,5.139343e+00,3.031345e+00,7.425544e+00,9.007894e+01,3.700830e+04,1.0
std,4.090902e-01,1.070172e+03,3.868901e-01,1.464837e+00,2.775321e+00,1.475798e+00,9.909622e+01,1.703027e+04,0.0
min,2.015000e+03,1.000000e+00,2.000000e+00,3.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+02,1.0
25%,2.019000e+03,5.000000e+00,4.000000e+00,4.000000e+00,2.000000e+00,6.000000e+00,2.100000e+01,2.574100e+04,1.0
50%,2.019000e+03,9.000000e+00,4.000000e+00,4.000000e+00,2.500000e+00,8.000000e+00,5.600000e+01,3.362700e+04,1.0
75%,2.019000e+03,1.700000e+01,4.000000e+00,6.000000e+00,3.600000e+00,8.000000e+00,1.270000e+02,4.405500e+04,1.0
max,2.020000e+03,1.450050e+05,5.000000e+00,1.200000e+01,1.500000e+02,1.000000e+01,1.397000e+03,7.992000e+06,1.0

In [11]:
VASC.groupby('vin').count()[['stock_number','last_seen']].sort_values(['last_seen'],ascending=False).head()

                   stock_number  last_seen
vin
00000000000000048             1          1
5J6RE48759L038976             1          1
5J6RE48759L054823             1          1
5J6RE48759L052523             1          1
5J6RE48759L051730             1          1

In [12]:
VASNC.groupby('vin').count()[['stock_number','last_seen']].sort_values(['last_seen'],ascending=False).head()

                   stock_number  last_seen
vin
00000000000000010             1          1
5NPD74LF8KH492383             1          1
5NPD74LF8KH492688             0          1
5NPD74LF8KH492884             1          1
5NPD74LF8KH492898             0          1

In [13]:
VASCVIN = VASC['vin']
VASNC[VASNC['vin'].isin(VASCVIN)].shape

(89764, 40)

In [14]:
VASC['Source'] = 'VASC'
VASNC['Source'] = 'VASNC'

In [15]:
Combined = pd.concat([VASC, VASNC])

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

In [16]:
Combined = Combined[Combined.vin.str.len() == 17]

In [17]:
Combined['postal_code'] = Combined['postal_code'].astype('str').str.strip()
Combined.loc[(Combined.postal_code.str.len() != 5),'postal_code'] = np.nan

In [18]:
Combined['date'] = pd.to_datetime(Combined.EFFECTIVE_START_TS, format='%Y-%m-%d %H:%M:%S.%f')

In [19]:
Combined['Key'] = Combined.index

In [20]:
Combined['seller_name'].head(10)

0    THE COLLECTION OF SCOTTSDALE
1              INFINITI OF NASHUA
2                   NYC MOTORCARS
3                  AUTOFAIR HONDA
4                 CARMAX RICHMOND
5    NIELLO VOLVO CARS SACRAMENTO
6                   CLASSIC ACURA
7                    SPREEN ACURA
8                HENDRICK PORSCHE
9       RAIRDON'S HONDA OF BURIEN
Name: seller_name, dtype: object

In [21]:
Combined.head()

,EFFECTIVE_END_TS,EFFECTIVE_START_TS,LATEST_VERSION_IND,Source,body_bed_style,body_cab_style,body_description,body_door_count,body_roof_style,body_type,...,series_detail,stock_number,transmission_description,transmission_gear_count,transmission_type,veh_segment,veh_type,vin,date,Key
0,1815-03-31 05:56:08.066277376,2019-10-06 00:00:00.000000000,1,VASC,NaN,NaN,4D Sport Utility,4.0,Convertible,SUV,...,NaN,TCS-17503,5-Speed Automatic Allison 1000 Series,5.0,Automatic,Luxury Sport Utility,U,137PH90376E217503,2019-10-06,0
1,1815-03-31 05:56:08.066277376,2019-09-27 00:00:00.000000000,1,VASC,NaN,NaN,4D Sedan,4.0,NaN,Sedan,...,NaN,N3513A,8-Speed Dual-Clutch,8.0,Automatic,Compact,C,19UDE2F30HA009689,2019-09-27,1
2,1815-03-31 05:56:08.066277376,2019-08-24 00:00:00.000000000,1,VASC,NaN,NaN,4D Sedan,4.0,NaN,Sedan,...,NaN,3470,8-Speed Dual-Clutch,8.0,Automatic,Compact,C,19UDE2F37HA003470,2019-08-24,2
3,1815-03-31 05:56:08.066277376,2019-10-24 00:00:00.000000000,1,VASC,NaN,NaN,4D Sedan,4.0,NaN,Sedan,...,NaN,HM02476P,8-Speed Dual-Clutch,8.0,Automatic,Compact,C,19UDE2F3XGA000304,2019-10-24,3
4,1815-03-31 05:56:08.066277376,2019-09-20 00:00:00.000000000,1,VASC,NaN,NaN,4D Sedan,4.0,NaN,Sedan,...,NaN,17943982,8-Speed Dual-Clutch,8.0,Automatic,Compact,C,19UDE2F70HA004298,2019-09-20,4

In [23]:
Combined.model_year.unique()

array([2006, 2017, 2016, 2018, 1999, 2000, 2002, 2003, 2007, 2005, 2009,
       2012, 2011, 2013, 2015, 2019, 2001, 2014, 2010, 1998, 1996, 2004,
       2008, 1995, 1997, 2020, 1993, 1994, 1992, 1965, 1984])

In [24]:
Combined.isna().sum().head()

EFFECTIVE_END_TS            0
EFFECTIVE_START_TS          0
LATEST_VERSION_IND          0
Source                      0
body_bed_style        8034410
dtype: int64

In [25]:
sum(Combined.model_year.isna())

0

In [26]:
Combined.describe()

,LATEST_VERSION_IND,body_door_count,days_ininventory,engine_cylinder_count,engine_displacement,is_certified,list_price,model_year,odometer,transmission_gear_count,Key
count,8875722.0,8.872040e+06,8.875722e+06,8.845734e+06,8.844803e+06,5.125376e+06,7.554010e+06,8.875722e+06,7.486553e+06,7.371800e+06,8.875722e+06
mean,1.0,3.883395e+00,6.487365e+01,5.288846e+00,3.124627e+00,1.117249e-01,2.665475e+04,2.015870e+03,4.641243e+04,6.610177e+00,2.272185e+06
std,0.0,4.805257e-01,8.647429e+01,1.504812e+00,2.076064e+00,3.150277e-01,1.738365e+04,4.552377e+00,5.525968e+04,1.541459e+00,1.369204e+06
min,1.0,2.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.965000e+03,1.000000e+00,1.000000e+00,0.000000e+00
25%,1.0,4.000000e+00,1.300000e+01,4.000000e+00,2.000000e+00,0.000000e+00,1.499800e+04,2.014000e+03,1.900000e+01,6.000000e+00,1.109465e+06
50%,1.0,4.000000e+00,3.500000e+01,4.000000e+00,2.500000e+00,0.000000e+00,2.385000e+04,2.018000e+03,2.851300e+04,6.000000e+00,2.218930e+06
75%,1.0,4.000000e+00,8.200000e+01,6.000000e+00,3.600000e+00,0.000000e+00,3.479900e+04,2.019000e+03,7.442300e+04,8.000000e+00,3.328395e+06
max,1.0,5.000000e+00,4.635000e+03,2.000000e+02,1.500000e+02,1.000000e+00,7.992000e+06,2.020000e+03,4.000000e+05,1.000000e+01,5.125375e+06

In [27]:
col = 'EFFECTIVE_START_TS'
print(Combined[col].min())
print(Combined[col].max())

2019-08-01 00:00:00.000000000
2019-10-31 00:00:00.000000000

In [22]:
print(Combined.shape)
Combined.columns

(8875722, 44)

Index(['EFFECTIVE_END_TS', 'EFFECTIVE_START_TS', 'LATEST_VERSION_IND',
       'Source', 'body_bed_style', 'body_cab_style', 'body_description',
       'body_door_count', 'body_roof_style', 'body_type',
       'categorized_equipment_ids', 'created', 'days_ininventory',
       'drive_train_type', 'engine_cylinder_count', 'engine_description',
       'engine_displacement', 'engine_fuel_type', 'exterior_base_color',
       'exterior_color', 'interior_color', 'interior_description',
       'interior_material', 'is_certified', 'last_seen', 'list_price', 'make',
       'model', 'model_year', 'new_used', 'odometer', 'postal_code',
       'seller_name', 'series', 'series_detail', 'stock_number',
       'transmission_description', 'transmission_gear_count',
       'transmission_type', 'veh_segment', 'veh_type', 'vin', 'date', 'Key'],
      dtype='object')

In [32]:
Combined.isna().sum()

EFFECTIVE_END_TS                   0
EFFECTIVE_START_TS                 0
LATEST_VERSION_IND                 0
Source                             0
body_bed_style               8034410
body_cab_style               6932691
body_description               91922
body_door_count                 3682
body_roof_style              8541748
body_type                        928
categorized_equipment_ids        963
created                            0
days_ininventory                   0
drive_train_type                4674
engine_cylinder_count          29988
engine_description               150
engine_displacement            30919
engine_fuel_type              118958
exterior_base_color           422780
exterior_color                243150
interior_color               1279397
interior_description          505134
interior_material            2516815
is_certified                 3750346
last_seen                          0
list_price                   1321712
make                               0
model                              0
model_year                         0
new_used                           0
odometer                     1389169
postal_code                   599049
seller_name                    35929
series                        216560
series_detail                7764010
stock_number                  549719
transmission_description       41033
transmission_gear_count      1503922
transmission_type              78159
veh_segment                        0
veh_type                           0
vin                                0
date                               0
Key                                0
dtype: int64

In [71]:
trim = 'stock_number'
Combined[trim].unique()

array(['TCS-17503', 'N3513A', '3470', ..., 'MD6571', '15190075',
       '000R0287'], dtype=object)

In [50]:
Combined['Trim'] = Combined['series'].fillna('').str.cat(Combined['series_detail'].fillna(''),sep=" ")

In [51]:
Combined['Trim'].head()

0    Open Top
1        2.4L
2        Base
3        2.4L
4
Name: Trim, dtype: object

In [52]:
Concise = Combined[['Key','Source','vin','model_year','make','model','Trim','odometer','date']]

In [53]:
Concise.head()

,Key,Source,vin,model_year,make,model,Trim,odometer,date
0,0,VASC,137PH90376E217503,2006,Hummer,H1,Open Top,12980.0,2019-10-06
1,1,VASC,19UDE2F30HA009689,2017,Acura,ILX,2.4L,31319.0,2019-09-27
2,2,VASC,19UDE2F37HA003470,2017,Acura,ILX,Base,36558.0,2019-08-24
3,3,VASC,19UDE2F3XGA000304,2016,Acura,ILX,2.4L,47871.0,2019-10-24
4,4,VASC,19UDE2F70HA004298,2017,Acura,ILX,,10834.0,2019-09-20

In [67]:
Concise = Concise.rename(columns={'vin':"Vin",'model_year':"Year",'make':"Make",'model':"Model",'odometer':"Mileage",'date':"Date"})

In [62]:
Concise = Concise.replace(r'^\s*$', np.nan, regex=True)

In [64]:
Concise.isna().sum()

Key                 0
Source              0
vin                 0
model_year          0
make                0
model               0
Trim           194079
odometer      1389169
date                0
dtype: int64

In [68]:
Concise.head(20)

,Key,Source,Vin,Year,Make,Model,Trim,Mileage,Date
0,0,VASC,137PH90376E217503,2006,Hummer,H1,Open Top,12980.0,2019-10-06
1,1,VASC,19UDE2F30HA009689,2017,Acura,ILX,2.4L,31319.0,2019-09-27
2,2,VASC,19UDE2F37HA003470,2017,Acura,ILX,Base,36558.0,2019-08-24
3,3,VASC,19UDE2F3XGA000304,2016,Acura,ILX,2.4L,47871.0,2019-10-24
4,4,VASC,19UDE2F70HA004298,2017,Acura,ILX,NaN,10834.0,2019-09-20
5,5,VASC,19UDE2F72JA000260,2018,Acura,ILX,NaN,14730.0,2019-08-10
6,6,VASC,19UDE2F74GA008742,2016,Acura,ILX,2.4L,24598.0,2019-10-29
7,7,VASC,19UDE2F76HA014964,2017,Acura,ILX,Technology Package,NaN,2019-10-01
8,8,VASC,19UDE2F7XGA011452,2016,Acura,ILX,2.4L w/Premium Package,41801.0,2019-10-12
9,9,VASC,19UDE2F85GA018351,2016,Acura,ILX,2.4L,18830.0,2019-10-12
10,10,VASC,19UUA5649XA013020,1999,Acura,TL,3.2,158992.0,2019-09-27
11,11,VASC,19UUA5666YA052182,2000,Acura,TL,3.2,164822.0,2019-10-29
12,12,VASC,19UUA56672A034944,2002,Acura,TL,3.2,160878.0,2019-09-23
13,13,VASC,19UUA566XYA020822,2000,Acura,TL,3.2,195690.0,2019-09-24
14,14,VASC,19UUA568X3A025030,2003,Acura,TL,Type S,118847.0,2019-10-02
15,15,VASC,19UUA655X6A060006,2006,Acura,TL,Base,60741.0,2019-10-06
16,16,VASC,19UUA66206A013202,2006,Acura,TL,Base,91580.0,2019-09-11
17,17,VASC,19UUA66206A057782,2006,Acura,TL,Base,131699.0,2019-10-25
18,18,VASC,19UUA66227A000176,2007,Acura,TL,3.2 Navigation,131173.0,2019-09-04
19,19,VASC,19UUA66245A051868,2005,Acura,TL,Base,148300.0,2019-10-02

In [69]:
Concise.to_csv("Carl_VAUTO_SOLD_MARKET_VEHICLE.csv",index=False)

In [70]:
Concise.to_csv("Carl_PipeSeparated_VAUTO_SOLD_MARKET_VEHICLE.csv",index=False,sep='|')