In [2]:
import pandas as pd

In [4]:
vma = pd.read_csv("s3://cads-emory-data/Emory_data_request_VMA_batch.csv", encoding = "ISO-8859-1")

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
vma = pd.read_csv('vma.csv')

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
vma.shape

(32668869, 23)

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
vma.head()

,Key,Source,Vin,Year,Make,Model,Trim,Mileage,Date,MIDMapAlgorithm,mid15,VPID,MMR_adj_current,RMI_adj_current,AvgPrice,avgmiles,Velocity,Salesefficiency,AvgDaysToSell,vol_tier,availability,inventory,spread_current
0,5004514,wholesale,1FTEW1EF7GFD46982,2016,Ford,F-150,Lariat,36524.0,2019-08-08,Exact,2.016018e+14,2016_Ford_F-150,30800.0,33600.0,26395.0,45682.0,Cold,0.533909,22.0,Tier1,Medium,1582.0,2800.0
1,5092247,wholesale,1FMCU0JD7HUB06187,2017,Ford,Escape,Titanium,20970.0,2019-08-01,Exact,2.017018e+14,2017_Ford_Escape,15900.0,18600.0,14428.0,33843.0,Hot,0.825581,19.0,Tier1,Medium,2286.0,2700.0
2,5092247,wholesale,1FMCU0J98GUC56903,2016,Ford,Escape,Titanium,19531.0,2019-08-01,Exact,2.016018e+14,2016_Ford_Escape,15750.0,17950.0,13638.0,41953.0,Hot,0.776985,18.0,Tier1,Low,323.0,2200.0
3,5420499,wholesale,1FADP3FE9HL274413,2017,Ford,Focus,SE,36482.0,2019-08-01,Exact,2.017018e+14,2017_Ford_Focus,9125.0,10950.0,10469.0,36473.0,Hot,0.702541,24.0,Tier1,High,463.0,1825.0
4,5177158,wholesale,1FT8W3DTXHEC60427,2017,Ford,F-350,Lariat,109622.0,2019-08-01,Exact,2.017018e+14,2017_Ford_Super Duty F-350 DRW,39500.0,43200.0,45758.0,60619.0,Hot,0.491837,19.0,Tier4,High,120.0,3700.0

In [5]:
vma.MIDMapAlgorithm.unique()

array(['Exact', 'Popular', 'Trim match', 'No match'], dtype=object)

In [14]:
nomatch = vma[vma.MIDMapAlgorithm == 'Popular']

In [16]:
nomatch.head(15)

,Key,Source,Vin,Year,Make,Model,Trim,Mileage,Date,MIDMapAlgorithm,mid15,VPID,MMR_adj_current,RMI_adj_current,AvgPrice,avgmiles,Velocity,Salesefficiency,AvgDaysToSell,vol_tier,availability,inventory,spread_current
152,5361755,wholesale,JM1BK32F981824283,2008,Mazda,Mazda3,GS,178939.0,2019-08-01,Popular,2.008034e+14,2008_Mazda_Mazda3,1525.0,2450.0,2120.0,138093.0,Hot,0.678436,11.0,Tier3,Low,40.0,925.0
220,5199238,wholesale,3VW217AU3FM075780,2015,Volkswagen,Golf,NaN,40459.0,2019-08-06,Popular,2.015052e+14,2015_Volkswagen_Golf,10600.0,12550.0,9815.0,51156.0,Hot,0.718163,89.0,Tier4,High,47.0,1950.0
537,5144211,wholesale,3VW217AU4FM013921,2015,Volkswagen,Golf,NaN,57228.0,2019-08-06,Popular,2.015052e+14,2015_Volkswagen_Golf,9575.0,11650.0,9815.0,51156.0,Hot,0.718163,89.0,Tier4,High,47.0,2075.0
739,5441000,wholesale,JS2YC5A3XD6100194,2013,Suzuki,SX4,NaN,NaN,2019-08-05,Popular,2.013071e+14,2013_Suzuki_SX4,2225.0,NaN,2601.0,93060.0,Cold,0.590909,24.0,Tier5,Medium,3.0,NaN
753,5217598,wholesale,1FTFW1EF8GFC68460,2016,Ford,F-150,NaN,40516.0,2019-08-02,Popular,2.016018e+14,2016_Ford_F-150,25100.0,29600.0,26395.0,45682.0,Cold,0.533909,22.0,Tier1,Medium,1582.0,4500.0
1052,5372034,wholesale,1GYEE63A570181762,2007,Cadillac,SRX,NaN,213943.0,2019-08-01,Popular,2.007009e+14,2007_Cadillac_SRX,1900.0,NaN,2319.0,133009.0,Warm,0.521053,11.0,Tier5,Low,8.0,NaN
1075,5360164,wholesale,4T1BG22K8YU636003,2000,Toyota,Camry,NaN,140980.0,2019-08-02,Popular,2.000050e+14,2000_Toyota_Camry,1050.0,2925.0,1027.0,173112.0,Hot,0.750794,13.0,Tier4,Medium,24.0,1875.0
1076,5403197,wholesale,1FMPU17576LA74738,2006,Ford,Expedition,Eddie Bauer,156586.0,2019-08-01,Popular,2.006018e+14,2006_Ford_Expedition,1550.0,NaN,2085.0,158860.0,Warm,0.495522,13.0,Tier3,Medium,39.0,NaN
1187,5125394,wholesale,1GTGC29U2YE145708,2000,GMC,Sierra 2500,NaN,185330.0,2019-08-01,Popular,2.000021e+14,2000_GMC_New Sierra 2500,NaN,NaN,2659.0,181675.0,NaN,0.739130,10.0,Tier5,No Inventory,NaN,NaN
1234,5434831,wholesale,WP0AA2998XS623136,1999,Porsche,911 Carrera,NaN,68343.0,2019-08-05,Popular,1.999044e+14,1999_Porsche_911 Carrera,11800.0,NaN,12442.0,81767.0,Hot,0.376744,11.0,Tier5,Low,2.0,NaN
1263,5263055,wholesale,1C6RR6FT2ES383668,2014,Ram,1500,ST,115639.0,2019-08-07,Popular,2.014333e+14,2014_Ram_1500,10900.0,13900.0,15657.0,91736.0,Hot,0.519934,17.0,Tier1,Medium,503.0,3000.0
1420,5414299,wholesale,1G1BL52P4TR109870,1996,Chevrolet,Impala SS,Unknown,70765.0,2019-08-07,Popular,1.996011e+14,1996_Chevrolet_Caprice Classic,6900.0,NaN,6089.0,86507.0,Hot,0.375000,8.0,Tier5,No Inventory,NaN,NaN
1514,5017871,wholesale,1FTFW1CT8DKG12459,2013,Ford,F-150,NaN,106821.0,2019-08-06,Popular,2.013018e+14,2013_Ford_F-150,12750.0,16150.0,14912.0,109711.0,Warm,0.478397,16.0,Tier1,Medium,673.0,3400.0
1617,5252296,wholesale,3VWBP7AJ7CM325358,2012,Volkswagen,Jetta,Unknown,100733.0,2019-08-07,Popular,2.012052e+14,2012_Volkswagen_Jetta Sedan,3375.0,6275.0,4603.0,94213.0,Warm,0.636725,44.0,Tier2,Medium,131.0,2900.0
1654,5397513,wholesale,JTEZU5JR5G5118446,2016,Toyota,4Runner,NaN,NaN,2019-08-05,Popular,2.016051e+14,2016_Toyota_4Runner,24100.0,26000.0,27808.0,46273.0,Warm,0.516897,15.0,Tier2,Medium,119.0,1900.0

In [13]:
nomatch.shape[0]

596706

In [6]:
vma.shape

(32668869, 23)

In [ ]:
vma.to_csv("vma.csv",index=False)

In [2]:
NGC_CurrentLOC = pd.read_csv("s3://cads-emory-data/data/csv/Emory_NGC_CurrentLOC/Emory_NGC_CurrentLOC.csv")

In [3]:
NGC_CurrentLOC.head()

   business_number Credit Type LOC_Create_Date_Time  Credit_Limit
0            10014      Retail           2013-01-15      100000.0
1            10024      Retail           2013-01-18      200000.0
2            10044      Retail           2011-11-25       50000.0
3            10045      Retail           2016-09-28      730000.0
4            10045   Wholesale           2016-09-28     2170000.0

In [7]:
NGC_CurrentLOC.shape

(24583, 4)

In [6]:
# NGC_CurrentLOC = NGC_CurrentLOC[NGC_CurrentLOC['LOC_Create_Date_Time']>'2019-08-01']
# NGC_CurrentLOC = NGC_CurrentLOC[NGC_CurrentLOC['LOC_Create_Date_Time']<'2019-10-31']

In [8]:
NGC_CurrentLOC.to_csv("NGC_CurrentLOC.csv",index=False)

In [9]:
Wholesale = pd.read_csv("s3://cads-emory-data/data/csv/ovt_wholesale/Wholesale.csv")

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
Wholesale.head()

,AUC_AUCTION_CD,BUYER_UID,SELLER_UID,VIN,MID,UNIT_TYPE_DESC,MODEL_YR,MAKE_DESC,MODEL_DESC,TRIM_DESC,...,ODOMETER,FINAL_CR_GRADE,CR_FLG,FINAL_PUR_AMT,AT_SALE_NAT_MMR,SOLD_DT_KEY,BUYER_HOW_PAID_CD,FLOORPLAN_CUST_OVC_ID,FLOORPLAN_CUST_CUR_CUST_NM,FLOORPLAN_UID
0,MAA,5004514,4910256,1FTEW1EF7GFD46982,201601757045540,Truck,2016,Ford,F-150,Lariat,...,36524.0,4.1,1,33800.0,33700.0,20190808,Floored,NaN,NaN,NaN
1,NASH,5092247,4910256,1FMCU0JD7HUB06187,201701756938959,SUV,2017,Ford,Escape,Titanium,...,20970.0,4.6,1,18200.0,17700.0,20190801,Floored,NaN,NaN,NaN
2,NASH,5092247,4910256,1FMCU0J98GUC56903,201601756930838,SUV,2016,Ford,Escape,Titanium,...,19531.0,4.6,1,17900.0,17000.0,20190801,Floored,NaN,NaN,NaN
3,MISS,5420499,4910256,1FADP3FE9HL274413,201701772320086,Car,2017,Ford,Focus,SE,...,36482.0,2.9,1,7900.0,10000.0,20190801,Floored,6048260.0,NEXT GEAR CAPITAL - FLOORPLAN,12000100.0
4,MISS,5177158,4910256,1FT8W3DTXHEC60427,201701755783113,Truck,2017,Ford,F-350,Lariat,...,109622.0,3.3,1,40800.0,42000.0,20190801,Floored,6048252.0,ALLY FINANCIAL - FLOORPLAN,12000078.0

In [11]:
Wholesale.columns

Index(['AUC_AUCTION_CD', 'BUYER_UID', 'SELLER_UID', 'VIN', 'MID',
       'UNIT_TYPE_DESC', 'MODEL_YR', 'MAKE_DESC', 'MODEL_DESC', 'TRIM_DESC',
       'BODY_DESC', 'EXTERIOR_COLOR_DESC', 'ODOMETER', 'FINAL_CR_GRADE',
       'CR_FLG', 'FINAL_PUR_AMT', 'AT_SALE_NAT_MMR', 'SOLD_DT_KEY',
       'BUYER_HOW_PAID_CD', 'FLOORPLAN_CUST_OVC_ID',
       'FLOORPLAN_CUST_CUR_CUST_NM', 'FLOORPLAN_UID'],
      dtype='object')

In [12]:
Wholesale.to_csv("Wholesale.csv",index=False)

In [13]:
NGC_CurrentTempLOC = pd.read_csv("s3://cads-emory-data/data/csv/Emory_NGC_CurrentTempLOC/Emory_NGC_CurrentTempLOC.csv")

In [14]:
NGC_CurrentTempLOC.head()

,business_number,Credit Type,LOC_Create_Date,LOC_Terminate_Date,Temp_Credit_Limit
0,10080,Retail,2020-01-07,2020-03-07,1.0
1,11881,Retail,2020-01-10,2020-03-10,1.0
2,12611,Retail,2019-09-11,2020-09-11,1.0
3,12847,Retail,2019-08-12,2020-08-12,1.0
4,13014,Retail,2020-01-07,2020-03-07,1.0

In [15]:
min(NGC_CurrentTempLOC['LOC_Create_Date'])

'2018-11-29'

In [18]:
max(NGC_CurrentTempLOC['LOC_Create_Date'])

'2020-01-15'

In [19]:
NGC_CurrentTempLOC.to_csv("NGC_CurrentTempLOC.csv",index=False)

In [20]:
NGC_Defaults = pd.read_csv("s3://cads-emory-data/data/csv/Emory_NGC_Defaults/Emory_NGC_Defaults.csv")

In [21]:
NGC_Defaults.head()

   BusinessNumber DefaultDate
0           10002  2018-10-03
1           10003  2014-03-10
2           10009  2011-03-15
3           10018  2010-04-05
4           10021  2011-03-17

In [22]:
NGC_Defaults.to_csv("NGC_Defaults.csv",index=False)

In [23]:
NGC_Floorplans = pd.read_csv("s3://cads-emory-data/data/csv/Emory_NGC_Floorplans/Emory_NGC_Floorplans.csv")

In [24]:
NGC_Floorplans.head()

,business_number,stock_number,unit_vin,unit_year,unit_make,unit_model,UnitPurchaseDate,unit_purchase_price,FlooringDate,FlooredAmount,FloorplanCompletedDate,UnitWriteOffDate
0,10014,475,1GCEC14X27Z180307,2007,Chevrolet,Silverado 1500 Clsc,2019-08-14,5550.0,2019-08-14,5550.0,2019-08-28,NaN
1,10014,476,JTEHD20V556043246,2005,TOYOTA,RAV4,2019-08-19,4785.0,2019-08-19,4785.0,2019-09-23,NaN
2,10014,477,3GNBABDV9AS580874,2010,Chevrolet,HHR,2019-08-20,995.0,2019-08-20,995.0,2019-12-17,NaN
3,10014,480,JTLKE50E691093198,2009,Scion,xB,2019-08-23,3665.0,2019-08-23,3665.0,2019-12-17,NaN
4,10014,478,5Y2SL67897Z419839,2007,Pontiac,Vibe,2019-08-23,3265.0,2019-08-23,3265.0,2019-09-23,NaN

In [25]:
min(NGC_Floorplans['FlooringDate'])

'2009-01-22'

In [26]:
max(NGC_Floorplans['FlooringDate'])

'2019-10-31'

In [27]:
NGC_Floorplans.to_csv("NGC_Floorplans.csv",index=False)

In [28]:
NGC_LastARS = pd.read_csv("s3://cads-emory-data/data/csv/Emory_NGC_LastARS/Emory_NGC_LastARS.csv")

In [29]:
NGC_LastARS.to_csv("NGC_LastARS.csv",index=False)

In [30]:
NGC_Terminations = pd.read_csv("s3://cads-emory-data/data/csv/Emory_NGC_Terminations/Emory_NGC_Terminations.csv")

In [31]:
NGC_Terminations.to_csv("NGC_Terminations.csv",index=False)

In [32]:
PolkCAMatch_2017_02_FEB_v4 = pd.read_csv("s3://cads-emory-data/data/csv/polk_caid/ingest_date=20190329/PolkCAMatch_2017_02_FEB_v4.csv",sep="|", encoding = "ISO-8859-1")

In [33]:
PolkCAMatch_2017_02_FEB_v4.to_csv("PolkCAMatch_2017_02_FEB_v4.csv",index=False)

In [34]:
NGC_DeclinedApplication = pd.read_csv("s3://cads-emory-data/data/csv/Emory_NGC_DeclinedApplications/Emory_NGC_DeclinedApplications.csv",sep="|", encoding = "ISO-8859-1")

In [35]:
NGC_DeclinedApplication.to_csv("NGC_DeclinedApplications.csv",index=False)

In [31]:
NGC = pd.read_csv('NGC_Floorplans.csv')

In [32]:
NGC.head()

,business_number,stock_number,unit_vin,unit_year,unit_make,unit_model,UnitPurchaseDate,unit_purchase_price,FlooringDate,FlooredAmount,FloorplanCompletedDate,UnitWriteOffDate
0,10014,475,1GCEC14X27Z180307,2007,Chevrolet,Silverado 1500 Clsc,2019-08-14,5550.0,2019-08-14,5550.0,2019-08-28,NaN
1,10014,476,JTEHD20V556043246,2005,TOYOTA,RAV4,2019-08-19,4785.0,2019-08-19,4785.0,2019-09-23,NaN
2,10014,477,3GNBABDV9AS580874,2010,Chevrolet,HHR,2019-08-20,995.0,2019-08-20,995.0,2019-12-17,NaN
3,10014,480,JTLKE50E691093198,2009,Scion,xB,2019-08-23,3665.0,2019-08-23,3665.0,2019-12-17,NaN
4,10014,478,5Y2SL67897Z419839,2007,Pontiac,Vibe,2019-08-23,3265.0,2019-08-23,3265.0,2019-09-23,NaN

In [33]:
NGC.shape

(843875, 12)

In [8]:
client_master = pd.read_csv("client_master.csv")

In [34]:
NGC_match = client_master[client_master['accttype']=='NGC']
NGC_match = NGC_match[NGC_match['acctsubtype']=='DEALER']

In [35]:
NGC_match.head()

,acctnum,accttype,acctsubtype,caid,custname,custcity,custaddrline1,custprovincecode,custpostalcode,externalidtype,externalid,acctaddline1,acctcity,acctprovincecd,acctpostalcd
3,80506,NGC,DEALER,CA11346933,BAVARIAN MOTORS,TOMBALL,9428 HUFSMITH RD,USA-TX,77375,NGC AA,5317162,8561 RAYSON RD STE C,HOUSTON,USA-TX,77080
11,102439,NGC,DEALER,CA11327584,GULFSHORE MOTORSPORTS LLC,NAPLES,4344 ENTERPRISE AVE,USA-FL,34104,NGC NUM,102439,4344 ENTERPRISE AVE STE 1,NAPLES,USA-FL,34104
54,81062,NGC,DEALER,CA11348406,BLUE FLAME AUTO SALES INC.,RALEIGH,2817 CAPITAL BLVD,USA-NC,27604,NGC NUM,81062,2817 CAPITAL BLVD,RALEIGH,USA-NC,27604
61,109682,NGC,DEALER,CA11762078,SOUTHERN SELECT AUTO,FREDERICKSBURG,10911 COURTHOUSE RD,USA-VA,22408,NGC AA,5411285,10911 COURTHOUSE RD STE 110,FREDERICKSBURG,USA-VA,22408
63,90435,NGC,DEALER,CA11352913,EVERGREEN AUTO SELLERS,KISSIMMEE,4402 ALLAN ST,USA-FL,34746,NGC AA,5372818,1664 VINTAGE ST,KISSIMMEE,USA-FL,34746

In [36]:
NGC_match.shape

(92926, 15)

In [37]:
NGC_match = NGC_match.loc[:,['acctnum','caid']]

In [38]:
NGC['business_number'] = NGC['business_number'].astype(str)

In [39]:
NGC_match = pd.merge(NGC, NGC_match.drop_duplicates(subset=['acctnum']), left_on='business_number', right_on='acctnum',how='left')

In [40]:
NGC_match.head()

,business_number,stock_number,unit_vin,unit_year,unit_make,unit_model,UnitPurchaseDate,unit_purchase_price,FlooringDate,FlooredAmount,FloorplanCompletedDate,UnitWriteOffDate,acctnum,caid
0,10014,475,1GCEC14X27Z180307,2007,Chevrolet,Silverado 1500 Clsc,2019-08-14,5550.0,2019-08-14,5550.0,2019-08-28,NaN,10014,CA11203615
1,10014,476,JTEHD20V556043246,2005,TOYOTA,RAV4,2019-08-19,4785.0,2019-08-19,4785.0,2019-09-23,NaN,10014,CA11203615
2,10014,477,3GNBABDV9AS580874,2010,Chevrolet,HHR,2019-08-20,995.0,2019-08-20,995.0,2019-12-17,NaN,10014,CA11203615
3,10014,480,JTLKE50E691093198,2009,Scion,xB,2019-08-23,3665.0,2019-08-23,3665.0,2019-12-17,NaN,10014,CA11203615
4,10014,478,5Y2SL67897Z419839,2007,Pontiac,Vibe,2019-08-23,3265.0,2019-08-23,3265.0,2019-09-23,NaN,10014,CA11203615

In [48]:
pd.isnull(NGC_match).sum()

caid                  0
Vin                   0
NGC_purchase_price    0
NGC_floored_amount    0
dtype: int64

In [42]:
NGC_match = NGC_match[NGC_match.caid.notnull()]

In [43]:
NGC_match.columns

Index(['business_number', 'stock_number', 'unit_vin', 'unit_year', 'unit_make',
       'unit_model', 'UnitPurchaseDate', 'unit_purchase_price', 'FlooringDate',
       'FlooredAmount', 'FloorplanCompletedDate', 'UnitWriteOffDate',
       'acctnum', 'caid'],
      dtype='object')

In [44]:
cols = ['caid','unit_vin','unit_purchase_price', 'FlooredAmount']

In [45]:
NGC_match = NGC_match[cols]

In [47]:
NGC_match = NGC_match.rename(columns = {'unit_vin':'Vin'})
NGC_match = NGC_match.rename(columns = {'unit_purchase_price':'NGC_purchase_price'})
NGC_match = NGC_match.rename(columns = {'FlooredAmount':'NGC_floored_amount'})

In [49]:
NGC_match.to_csv('NGC_323.csv',index=False)

In [4]:
NGC = pd.read_csv('NGC_323.csv')

In [6]:
NGC.head()

         caid                Vin  NGC_purchase_price  NGC_floored_amount
0  CA11203615  1GCEC14X27Z180307              5550.0              5550.0
1  CA11203615  JTEHD20V556043246              4785.0              4785.0
2  CA11203615  3GNBABDV9AS580874               995.0               995.0
3  CA11203615  JTLKE50E691093198              3665.0              3665.0
4  CA11203615  5Y2SL67897Z419839              3265.0              3265.0