# Prepare Data (Load&merge)

In [ ]:
!pip install numpy==1.15.1

In [2]:
!pip install pyarrow==0.15.1

Requirement already satisfied: pyarrow==0.15.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (0.15.1)
Requirement already satisfied: six>=1.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pyarrow==0.15.1) (1.11.0)
Requirement already satisfied: numpy>=1.14 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pyarrow==0.15.1) (1.15.1)
You are using pip version 10.0.1, however version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
import pandas as pd
import pyarrow

In [4]:
data = pd.read_parquet('s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00001-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet')

In [5]:
data.head(12)

,data_type,vin,polk_con_num,dealer_name,dealer_address,dealer_town,dealer_state,dealer_zip,dealer_dma,dealer_fran_ind,...,mileage,trans_price,age,income,gender,ethnic_group,sub_ethnic_group,language,reg_type_code,new_count
0,N,1FTEW1E52JFD12608,0030045,PERMIAN LINCOLN,1000 N DAL PASO ST,HOBBS,NM,88240,ALBUQUERQUE SANTA FE,F,...,697,63168,35-44 YEARS,"$75,000 - $99,999",MALE,WESTERN EUROPEAN,ENGLISH,ENGLISH,03,1
1,N,1GCPYFED2KZ403868,0163534,EL DORADO MOTORS INC,2300 N CENTRAL EXPY,MCKINNEY,TX,75070,DALLAS FT WORTH,F,...,6,50010,45-54 YEARS,"$75,000 - $99,999",MALE,HISPANIC,MEXICO,ENGLISH,03,1
2,N,1FTEW1EP7KKC21120,0001254,RICH FORD SALES INC,8601 LOMAS NE BLVD,ALBUQUERQUE,NM,87112,ALBUQUERQUE SANTA FE,F,...,12,52951,55-64 YEARS,"$100,000 - $124,999",MALE,UNCODED,UNCODED,UNCODED,03,1
3,N,1C4PJMLB3KD473144,0023019,MARKS CASA CHRYSLER JEEP,9733 COORS NW BLVD,ALBUQUERQUE,NM,87114,ALBUQUERQUE SANTA FE,F,...,10,30130,35-44 YEARS,"$40,000 - $49,999",FEMALE,HISPANIC,SPAIN,ENGLISH,03,1
4,N,1GNEVGKW5LJ102952,0310485,AMIGO CHEVROLET,1900 S SECOND ST,GALLUP,NM,87301,ALBUQUERQUE SANTA FE,F,...,201,44700,UNKNOWN,UNKNOWN,MALE,WESTERN EUROPEAN,ENGLISH,ENGLISH,03,1
5,N,1GT49REY4LF125014,0029004,PITRE BUICK GMC,9737 EAGLE RANCH NW RD,ALBUQUERQUE,NM,87114,ALBUQUERQUE SANTA FE,F,...,10,78690,35-44 YEARS,"$150,000 - $174,999",MALE,HISPANIC,SPAIN,ENGLISH,03,1
6,N,2FMHK6C88KBA18289,0265177,MELLOY FORD,499 EMILIO LOPEZ NW RD,LOS LUNAS,NM,87031,ALBUQUERQUE SANTA FE,F,...,89,39385,35-44 YEARS,"$30,000 - $39,999",MALE,HISPANIC,MEXICO,SPANISH,03,1
7,N,1FTMF1CB8KKC49835,0265177,MELLOY FORD,499 EMILIO LOPEZ NW RD,LOS LUNAS,NM,87031,ALBUQUERQUE SANTA FE,F,...,26,23982,UNKNOWN,UNKNOWN,MALE,WESTERN EUROPEAN,ENGLISH,ENGLISH,03,1
8,N,1FMCU0HD4KUB60737,0265177,MELLOY FORD,499 EMILIO LOPEZ NW RD,LOS LUNAS,NM,87031,ALBUQUERQUE SANTA FE,F,...,58,31330,UNKNOWN,UNKNOWN,MALE,WESTERN EUROPEAN,IRISH,ENGLISH,03,1
9,N,1FTER4FH4KLA59456,0001254,RICH FORD SALES INC,8601 LOMAS NE BLVD,ALBUQUERQUE,NM,87112,ALBUQUERQUE SANTA FE,F,...,,,UNKNOWN,UNKNOWN,MALE,WESTERN EUROPEAN,ENGLISH,ENGLISH,03,1
10,N,2FMPK4K93KBC36201,0001254,RICH FORD SALES INC,8601 LOMAS NE BLVD,ALBUQUERQUE,NM,87112,ALBUQUERQUE SANTA FE,F,...,6,42553,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,13,1
11,N,4T1B11HK3KU822669,0190920,STEVINSON TOYOTA EAST,444 S HAVANA ST,AURORA,CO,80012,DENVER,F,...,5,27118,25-34 YEARS,"$20,000 - $29,999",FEMALE,HISPANIC,MEXICO,SPANISH,03,1

In [6]:
appended_data = []
for x in list(range(0, 129)):
    if x < 10:
        filename = "s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-0000" + str(x) + "-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet"
        print(filename)
    elif 10<=x<100:
        filename = "s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-000" + str(x) + "-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet"
    else:
        filename = "s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00" + str(x) + "-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet"
        print(filename)
    data = pd.read_parquet(filename)
    print(data.shape)
    # store DataFrame in list
    appended_data.append(data)
# see pd.concat documentation for more info
polk_08 = pd.concat(appended_data)

s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00000-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12334, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00001-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11777, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00002-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12160, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00003-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12072, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00004-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11658, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00005-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11899, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00006-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12232, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00007-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12197, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00008-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11478, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00009-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12681, 48)
(12193, 48)
(12106, 48)
(12341, 48)
(12165, 48)
(12538, 48)
(10962, 48)
(10800, 48)
(13882, 48)
(12946, 48)
(13047, 48)
(12416, 48)
(11984, 48)
(11059, 48)
(11096, 48)
(11932, 48)
(11162, 48)
(10588, 48)
(10504, 48)
(10568, 48)
(11098, 48)
(11731, 48)
(11500, 48)
(11849, 48)
(11390, 48)
(11685, 48)
(12000, 48)
(6683, 48)
(11757, 48)
(11628, 48)
(11798, 48)
(11418, 48)
(11317, 48)
(11018, 48)
(11529, 48)
(11763, 48)
(11028, 48)
(10702, 48)
(11032, 48)
(11906, 48)
(11533, 48)
(12274, 48)
(12762, 48)
(12022, 48)
(10793, 48)
(10975, 48)
(11039, 48)
(11200, 48)
(10669, 48)
(11075, 48)
(11884, 48)
(10754, 48)
(10957, 48)
(12523, 48)
(12647, 48)
(10964, 48)
(10484, 48)
(10483, 48)
(12336, 48)
(11339, 48)
(11278, 48)
(11800, 48)
(11551, 48)
(11921, 48)
(4326, 48)
(12362, 48)
(12944, 48)
(12832, 48)
(12938, 48)
(13025, 48)
(13098, 48)
(12982, 48)
(11974, 48)
(9654, 48)
(11930, 48)
(9381, 48)
(8741, 48)
(9301, 48)
(11193, 48)
(12682, 48)
(12288, 48)
(12309, 48)
(12372, 48)
(12390, 48)
(12928, 48)
(12615, 48)
(10763, 48)
(11560, 48)
(10921, 48)
(11542, 48)
(12222, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00100-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11455, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00101-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(10720, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00102-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11275, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00103-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11578, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00104-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11255, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00105-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(10535, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00106-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(10585, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00107-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(10482, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00108-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11420, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00109-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11227, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00110-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(6248, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00111-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11436, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00112-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11775, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00113-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11077, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00114-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11648, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00115-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11255, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00116-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11418, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00117-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12209, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00118-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12764, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00119-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12112, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00120-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12263, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00121-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12462, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00122-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12099, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00123-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11176, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00124-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11267, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00125-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11449, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00126-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(10611, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00127-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(10942, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00128-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11931, 48)

In [7]:
polk_08.shape

(1482819, 48)

In [8]:
polk_08.columns

Index(['data_type', 'vin', 'polk_con_num', 'dealer_name', 'dealer_address',
       'dealer_town', 'dealer_state', 'dealer_zip', 'dealer_dma',
       'dealer_fran_ind', 'vin_year_model', 'segment', 'make', 'model',
       'series', 'sub_series', 'vehicle_type', 'body_style', 'cylinders',
       'drive_type', 'doors', 'fuel_type', 'orgin', 'gvw', 'bed_size',
       'cab_size', 'turbo', 'financial_inst', 'veh_mfg_base_list_price',
       'corporation', 'reg_dma', 'reg_state', 'reg_county', 'reg_zip',
       'reg_type', 'purchase_lease', 'report_year_month', 'transaction_date',
       'mileage', 'trans_price', 'age', 'income', 'gender', 'ethnic_group',
       'sub_ethnic_group', 'language', 'reg_type_code', 'new_count'],
      dtype='object')

In [9]:
len(polk_08.polk_con_num.unique())

19100

In [10]:
len(polk_08.vin.unique())

1328680

In [11]:
new=polk_08.drop_duplicates() 
new.shape

(1482819, 48)

In [12]:
appended_data = []
for x in list(range(0, 129)):
    if x < 10:
        filename = "s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-0000" + str(x) + "-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet"
        print(filename)
    elif 10<=x<100:
        filename = "s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-000" + str(x) + "-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet"
    else:
        filename = "s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00" + str(x) + "-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet"
        print(filename)
    data = pd.read_parquet(filename)
    print(data.shape)
    # store DataFrame in list
    appended_data.append(data)
# see pd.concat documentation for more info
polk_08 = pd.concat(appended_data)

s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00000-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12334, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00001-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11777, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00002-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12160, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00003-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12072, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00004-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11658, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00005-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11899, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00006-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12232, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00007-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12197, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00008-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11478, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00009-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12681, 48)
(12193, 48)
(12106, 48)
(12341, 48)
(12165, 48)
(12538, 48)
(10962, 48)
(10800, 48)
(13882, 48)
(12946, 48)
(13047, 48)
(12416, 48)
(11984, 48)
(11059, 48)
(11096, 48)
(11932, 48)
(11162, 48)
(10588, 48)
(10504, 48)
(10568, 48)
(11098, 48)
(11731, 48)
(11500, 48)
(11849, 48)
(11390, 48)
(11685, 48)
(12000, 48)
(6683, 48)
(11757, 48)
(11628, 48)
(11798, 48)
(11418, 48)
(11317, 48)
(11018, 48)
(11529, 48)
(11763, 48)
(11028, 48)
(10702, 48)
(11032, 48)
(11906, 48)
(11533, 48)
(12274, 48)
(12762, 48)
(12022, 48)
(10793, 48)
(10975, 48)
(11039, 48)
(11200, 48)
(10669, 48)
(11075, 48)
(11884, 48)
(10754, 48)
(10957, 48)
(12523, 48)
(12647, 48)
(10964, 48)
(10484, 48)
(10483, 48)
(12336, 48)
(11339, 48)
(11278, 48)
(11800, 48)
(11551, 48)
(11921, 48)
(4326, 48)
(12362, 48)
(12944, 48)
(12832, 48)
(12938, 48)
(13025, 48)
(13098, 48)
(12982, 48)
(11974, 48)
(9654, 48)
(11930, 48)
(9381, 48)
(8741, 48)
(9301, 48)
(11193, 48)
(12682, 48)
(12288, 48)
(12309, 48)
(12372, 48)
(12390, 48)
(12928, 48)
(12615, 48)
(10763, 48)
(11560, 48)
(10921, 48)
(11542, 48)
(12222, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00100-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11455, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00101-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(10720, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00102-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11275, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00103-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11578, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00104-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11255, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00105-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(10535, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00106-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(10585, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00107-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(10482, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00108-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11420, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00109-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11227, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00110-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(6248, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00111-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11436, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00112-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11775, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00113-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11077, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00114-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11648, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00115-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11255, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00116-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11418, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00117-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12209, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00118-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12764, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00119-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12112, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00120-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12263, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00121-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12462, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00122-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(12099, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00123-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11176, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00124-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11267, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00125-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11449, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00126-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(10611, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00127-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(10942, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201908/part-00128-b9361f72-f006-4fbe-85ce-6784daef2629-c000.snappy.parquet
(11931, 48)

In [13]:
appended_data = []
for x in list(range(0, 129)):
    if x < 10:
        filename = "s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-0000" + str(x) + "-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet"
    elif 10<=x<100:
        filename = "s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-000" + str(x) + "-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet"
    else:
        filename = "s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00" + str(x) + "-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet"
        print(filename)
    data = pd.read_parquet(filename)
    print(data.shape)
    # store DataFrame in list
    appended_data.append(data)
# see pd.concat documentation for more info
polk_09 = pd.concat(appended_data)

(11496, 48)
(10430, 48)
(12082, 48)
(12131, 48)
(12247, 48)
(12117, 48)
(10747, 48)
(11052, 48)
(11356, 48)
(10913, 48)
(11157, 48)
(11190, 48)
(11974, 48)
(11718, 48)
(11015, 48)
(9681, 48)
(10219, 48)
(12631, 48)
(12006, 48)
(12071, 48)
(11307, 48)
(10856, 48)
(10209, 48)
(10967, 48)
(11092, 48)
(10580, 48)
(10525, 48)
(10699, 48)
(10521, 48)
(11480, 48)
(13567, 48)
(12528, 48)
(11042, 48)
(10603, 48)
(10654, 48)
(11317, 48)
(6675, 48)
(10843, 48)
(10699, 48)
(10852, 48)
(10216, 48)
(9854, 48)
(10267, 48)
(10846, 48)
(11525, 48)
(11330, 48)
(11215, 48)
(11345, 48)
(10880, 48)
(11249, 48)
(10930, 48)
(11669, 48)
(11039, 48)
(11979, 48)
(12519, 48)
(9062, 48)
(10076, 48)
(9779, 48)
(9941, 48)
(10965, 48)
(10094, 48)
(9695, 48)
(11415, 48)
(11362, 48)
(10286, 48)
(10059, 48)
(10096, 48)
(11052, 48)
(11079, 48)
(11706, 48)
(10792, 48)
(10869, 48)
(11720, 48)
(2850, 48)
(12829, 48)
(11758, 48)
(11898, 48)
(11708, 48)
(11521, 48)
(11786, 48)
(11524, 48)
(10295, 48)
(8708, 48)
(10260, 48)
(10514, 48)
(10464, 48)
(10285, 48)
(10354, 48)
(11038, 48)
(11146, 48)
(10915, 48)
(9621, 48)
(9762, 48)
(11048, 48)
(11482, 48)
(11310, 48)
(10329, 48)
(9376, 48)
(10665, 48)
(11382, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00100-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(10298, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00101-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(9894, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00102-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(10583, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00103-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(10736, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00104-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(10142, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00105-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(8994, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00106-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(9021, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00107-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(9017, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00108-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(10660, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00109-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(10203, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00110-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(5816, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00111-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(11353, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00112-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(11689, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00113-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(11884, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00114-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(11795, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00115-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(10423, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00116-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(10523, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00117-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(11200, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00118-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(11889, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00119-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(12026, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00120-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(11836, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00121-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(12137, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00122-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(11550, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00123-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(10412, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00124-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(10037, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00125-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(10236, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00126-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(10307, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00127-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(10430, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201909/part-00128-84ff5662-8cd9-4b28-9625-fcd31c0155a7-c000.snappy.parquet
(10769, 48)

In [14]:
appended_data = []
for x in list(range(0, 129)):
    if x < 10:
        filename = "s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-0000" + str(x) + "-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet"
    elif 10<=x<100:
        filename = "s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-000" + str(x) + "-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet"
    else:
        filename = "s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00" + str(x) + "-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet"
        print(filename)
    data = pd.read_parquet(filename)
    print(data.shape)
    # store DataFrame in list
    appended_data.append(data)
# see pd.concat documentation for more info
polk_10 = pd.concat(appended_data)

(10821, 48)
(9924, 48)
(10296, 48)
(10467, 48)
(10400, 48)
(13643, 48)
(9865, 48)
(9533, 48)
(11341, 48)
(10015, 48)
(10108, 48)
(10208, 48)
(10829, 48)
(10534, 48)
(9803, 48)
(9279, 48)
(8884, 48)
(12095, 48)
(11305, 48)
(11511, 48)
(10712, 48)
(10327, 48)
(10559, 48)
(10316, 48)
(10919, 48)
(10872, 48)
(10736, 48)
(10966, 48)
(10754, 48)
(10765, 48)
(9574, 48)
(9405, 48)
(10815, 48)
(10207, 48)
(10491, 48)
(10724, 48)
(5664, 48)
(10309, 48)
(11316, 48)
(10379, 48)
(10224, 48)
(9987, 48)
(11240, 48)
(10351, 48)
(11945, 48)
(12798, 48)
(12978, 48)
(12238, 48)
(9828, 48)
(10566, 48)
(10674, 48)
(11688, 48)
(9875, 48)
(11302, 48)
(11046, 48)
(9410, 48)
(9978, 48)
(9832, 48)
(10017, 48)
(10470, 48)
(10429, 48)
(9772, 48)
(10973, 48)
(10873, 48)
(10942, 48)
(11242, 48)
(11291, 48)
(10859, 48)
(10282, 48)
(10176, 48)
(9781, 48)
(10278, 48)
(9402, 48)
(3101, 48)
(11842, 48)
(10917, 48)
(11166, 48)
(10914, 48)
(11097, 48)
(11220, 48)
(10748, 48)
(9992, 48)
(8789, 48)
(11041, 48)
(10994, 48)
(11062, 48)
(10651, 48)
(9958, 48)
(10532, 48)
(10648, 48)
(10677, 48)
(9677, 48)
(9681, 48)
(10486, 48)
(10712, 48)
(9501, 48)
(9779, 48)
(9356, 48)
(10699, 48)
(10609, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00100-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(9963, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00101-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(9641, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00102-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(10770, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00103-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(11634, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00104-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(10490, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00105-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(9697, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00106-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(9710, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00107-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(9798, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00108-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(10664, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00109-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(10189, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00110-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(5254, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00111-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(10439, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00112-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(10568, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00113-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(10664, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00114-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(10956, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00115-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(10664, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00116-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(11167, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00117-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(10800, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00118-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(10976, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00119-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(11421, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00120-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(11154, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00121-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(11182, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00122-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(11100, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00123-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(9840, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00124-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(9181, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00125-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(9394, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00126-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(10737, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00127-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(10574, 48)
s3://cads-emory-data/data/parquet/polk_ihs_markit_registrations/new/ingest_month=201910/part-00128-1f817633-99cd-4db4-9389-2571dda5de85-c000.snappy.parquet
(10177, 48)

In [15]:
pdList = [polk_08,polk_09,polk_10]  
polk_data = pd.concat(pdList)

In [16]:
polk_data.shape

(4219738, 48)

# Clean Data

In [17]:
new=polk_data.drop_duplicates() 
new.shape

(4219738, 48)

## unique vin&transaction_date

In [18]:
count_series = polk_data.groupby(['vin', 'transaction_date']).size()
new_df = count_series.to_frame(name = 'size').reset_index()
new_df.sort_values(by=['size'],ascending=False)  # size is the count of instances

                       vin transaction_date  size
2528591        5N1AT2MV*KC         20190831   366
2966874        7FARW2H5*KE         20190831   282
1468545        2HKRW2H5*KH         20190831   268
3176847        JN8AT2MV*KW         20190831   257
2117434        3VV2B7AX*KM         20190831   248
169154         1C4RJFBG*KC         20190930   242
2555363        5N1AZ2MS*KN         20190831   230
2528620        5N1AT2MV*KC         20190930   218
3176875        JN8AT2MV*KW         20190930   213
1609517        3C4NJDBB*KT         20190930   194
1434868        2HGFC2F6*KH         20190831   186
1475870        2HKRW2H8*KH         20190831   183
2008010        3N1AB7AP*KY         20190831   182
2973159        7FARW2H8*KE         20190831   182
117074         1C4PJMDX*KD         20190903   179
2404611        5FNYF6H5*KB         20190831   177
169127         1C4RJFBG*KC         20190903   171
2684025        5TDJZRFH*KS         20190930   168
2117460        3VV2B7AX*KM         20190930   167
2555391        5N1AZ2MS*KN         20190930   167
1074639        1HGCV1F3*KA         20190831   166
117101         1C4PJMDX*KD         20190930   162
2683995        5TDJZRFH*KS         20190831   160
155353         1C4RJFAG*KC         20190930   158
3152801        JN1BJ1CR*KW         20190831   157
3564997        KNMAT2MV*KP         20190831   156
1058949        1HGCV1F1*KA         20190831   152
2008037        3N1AB7AP*KY         20190930   151
600413         1FTEW1EP*KF         20190930   149
3152829        JN1BJ1CR*KW         20190930   145
...                    ...              ...   ...
1307168  2C4RDGBG0KR572743         20191023     1
1307167  2C4RDGBG0KR572628         20190826     1
1307166  2C4RDGBG0KR572418         20190227     1
1307165  2C4RDGBG0KR572273         20190430     1
1307140  2C4RDGBG0KR528015         20190727     1
1307141  2C4RDGBG0KR531044         20190829     1
1307142  2C4RDGBG0KR539211         20191029     1
1307143  2C4RDGBG0KR539225         20190228     1
1307144  2C4RDGBG0KR540875         20190620     1
1307145  2C4RDGBG0KR546515         20190920     1
1307146  2C4RDGBG0KR546708         20190823     1
1307147  2C4RDGBG0KR546904         20190806     1
1307148  2C4RDGBG0KR546921         20190816     1
1307149  2C4RDGBG0KR546997         20190828     1
1307150  2C4RDGBG0KR547020         20190815     1
1307151  2C4RDGBG0KR547163         20190924     1
1307152  2C4RDGBG0KR547440         20190817     1
1307153  2C4RDGBG0KR547650         20190801     1
1307154  2C4RDGBG0KR547678         20190820     1
1307155  2C4RDGBG0KR547731         20190827     1
1307156  2C4RDGBG0KR553965         20190912     1
1307157  2C4RDGBG0KR568210         20190917     1
1307158  2C4RDGBG0KR568241         20190621     1
1307159  2C4RDGBG0KR568532         20191008     1
1307160  2C4RDGBG0KR568689         20190620     1
1307161  2C4RDGBG0KR568692         20190620     1
1307162  2C4RDGBG0KR568725         20190930     1
1307163  2C4RDGBG0KR572094         20190830     1
1307164  2C4RDGBG0KR572192         20190430     1
3895429  ZPBUA1ZLXLLA06580         20191025     1

[3895430 rows x 3 columns]

In [19]:
pcar=new_df[new_df["size"]>1]
pcar['vin'].apply(len)

2          11
3          11
4          11
9          11
10         11
11         11
12         11
13         11
14         11
16         11
17         11
18         11
22         11
23         11
24         11
25         11
26         11
28         11
29         11
30         11
31         11
32         11
35         11
37         11
39         11
40         11
41         11
42         11
45         11
46         11
           ..
3890928    11
3890929    11
3890932    11
3890933    11
3890934    11
3890935    11
3890937    11
3892770    11
3892774    11
3892779    11
3892783    11
3892796    11
3893381    11
3893468    11
3893714    11
3893906    11
3894342    11
3894349    11
3894353    11
3894357    11
3894366    11
3894368    11
3894564    11
3894567    11
3894660    11
3894663    11
3894664    11
3895016    11
3895153    11
3895154    11
Name: vin, Length: 58496, dtype: int64

In [20]:
a = polk_data.vin.value_counts()
import numpy as np
res = list(zip(*np.unique(a, return_counts=True)))
res

[(1, 3781407),
 (2, 486),
 (3, 336),
 (4, 260),
 (5, 187),
 (6, 142),
 (7, 119),
 (8, 109),
 (9, 101),
 (10, 88),
 (11, 71),
 (12, 67),
 (13, 65),
 (14, 59),
 (15, 49),
 (16, 53),
 (17, 37),
 (18, 34),
 (19, 47),
 (20, 31),
 (21, 39),
 (22, 36),
 (23, 35),
 (24, 22),
 (25, 26),
 (26, 36),
 (27, 29),
 (28, 30),
 (29, 21),
 (30, 25),
 (31, 23),
 (32, 20),
 (33, 20),
 (34, 15),
 (35, 21),
 (36, 15),
 (37, 19),
 (38, 15),
 (39, 16),
 (40, 19),
 (41, 15),
 (42, 16),
 (43, 17),
 (44, 20),
 (45, 12),
 (46, 12),
 (47, 12),
 (48, 15),
 (49, 7),
 (50, 4),
 (51, 14),
 (52, 15),
 (53, 6),
 (54, 9),
 (55, 7),
 (56, 5),
 (57, 11),
 (58, 12),
 (59, 9),
 (60, 13),
 (61, 18),
 (62, 16),
 (63, 11),
 (64, 13),
 (65, 15),
 (66, 5),
 (67, 7),
 (68, 9),
 (69, 6),
 (70, 8),
 (71, 6),
 (72, 4),
 (73, 9),
 (74, 9),
 (75, 14),
 (76, 5),
 (77, 4),
 (78, 8),
 (79, 10),
 (80, 13),
 (81, 3),
 (82, 9),
 (83, 10),
 (84, 13),
 (85, 6),
 (86, 9),
 (87, 8),
 (88, 9),
 (89, 4),
 (90, 4),
 (91, 10),
 (92, 6),
 (93, 8),
 (94, 9),
 (95, 7),
 (96, 8),
 (97, 2),
 (98, 2),
 (99, 5),
 (100, 8),
 (101, 3),
 (102, 1),
 (103, 3),
 (104, 4),
 (105, 6),
 (106, 6),
 (107, 2),
 (108, 9),
 (109, 5),
 (110, 6),
 (111, 5),
 (112, 2),
 (113, 3),
 (114, 6),
 (115, 2),
 (116, 5),
 (117, 5),
 (118, 3),
 (119, 2),
 (120, 4),
 (121, 4),
 (122, 1),
 (123, 5),
 (124, 4),
 (125, 6),
 (126, 1),
 (127, 1),
 (128, 2),
 (129, 2),
 (130, 4),
 (131, 4),
 (132, 3),
 (133, 6),
 (134, 4),
 (135, 2),
 (136, 4),
 (137, 5),
 (138, 4),
 (140, 3),
 (141, 6),
 (142, 1),
 (143, 2),
 (144, 3),
 (145, 5),
 (147, 6),
 (148, 4),
 (149, 4),
 (150, 1),
 (151, 2),
 (152, 4),
 (153, 5),
 (154, 2),
 (155, 5),
 (156, 2),
 (157, 6),
 (158, 2),
 (159, 2),
 (160, 1),
 (161, 1),
 (162, 3),
 (164, 2),
 (165, 2),
 (166, 1),
 (167, 2),
 (168, 3),
 (169, 5),
 (170, 3),
 (171, 1),
 (172, 3),
 (173, 4),
 (175, 5),
 (176, 2),
 (177, 1),
 (178, 6),
 (179, 5),
 (180, 3),
 (181, 2),
 (182, 3),
 (183, 5),
 (184, 3),
 (185, 2),
 (186, 2),
 (187, 3),
 (188, 4),
 (189, 2),
 (190, 2),
 (191, 2),
 (193, 2),
 (194, 1),
 (195, 1),
 (196, 2),
 (197, 2),
 (198, 2),
 (199, 1),
 (201, 4),
 (202, 3),
 (203, 4),
 (204, 3),
 (205, 2),
 (206, 4),
 (207, 3),
 (208, 1),
 (209, 3),
 (211, 3),
 (215, 1),
 (216, 4),
 (217, 2),
 (218, 2),
 (219, 1),
 (220, 2),
 (221, 1),
 (223, 1),
 (225, 3),
 (226, 3),
 (227, 4),
 (228, 3),
 (229, 1),
 (230, 4),
 (232, 1),
 (233, 3),
 (234, 1),
 (235, 1),
 (236, 1),
 (237, 1),
 (238, 1),
 (239, 1),
 (240, 3),
 (241, 2),
 (242, 1),
 (243, 3),
 (244, 1),
 (245, 4),
 (246, 2),
 (248, 1),
 (249, 4),
 (252, 1),
 (254, 2),
 (255, 4),
 (256, 3),
 (257, 2),
 (258, 2),
 (259, 2),
 (260, 2),
 (261, 1),
 (262, 2),
 (263, 1),
 (264, 1),
 (268, 2),
 (269, 2),
 (273, 1),
 (274, 2),
 (275, 1),
 (277, 2),
 (279, 3),
 (280, 1),
 (281, 1),
 (282, 2),
 (283, 1),
 (284, 1),
 (285, 4),
 (286, 3),
 (287, 1),
 (289, 1),
 (290, 1),
 (292, 2),
 (293, 3),
 (295, 3),
 (299, 1),
 (301, 1),
 (302, 3),
 (303, 1),
 (306, 1),
 (308, 1),
 (312, 1),
 (313, 1),
 (315, 1),
 (317, 1),
 (318, 1),
 (319, 1),
 (320, 4),
 (322, 1),
 (323, 2),
 (324, 2),
 (325, 1),
 (327, 1),
 (329, 1),
 (330, 4),
 (332, 1),
 (333, 1),
 (335, 1),
 (336, 2),
 (338, 1),
 (339, 1),
 (340, 1),
 (342, 2),
 (345, 2),
 (347, 1),
 (348, 1),
 (349, 1),
 (350, 1),
 (351, 2),
 (352, 1),
 (353, 1),
 (354, 1),
 (355, 3),
 (357, 1),
 (358, 1),
 (360, 5),
 (361, 1),
 (362, 1),
 (363, 2),
 (365, 1),
 (366, 2),
 (367, 1),
 (368, 1),
 (369, 1),
 (371, 1),
 (372, 1),
 (373, 2),
 (374, 2),
 (377, 1),
 (378, 1),
 (381, 1),
 (382, 4),
 (383, 1),
 (385, 2),
 (387, 1),
 (388, 1),
 (389, 3),
 (390, 1),
 (391, 2),
 (393, 1),
 (394, 1),
 (396, 1),
 (399, 1),
 (400, 1),
 (403, 2),
 (409, 1),
 (412, 1),
 (420, 2),
 (424, 1),
 (426, 1),
 (427, 1),
 (428, 1),
 (430, 2),
 (436, 2),
 (439, 1),
 (445, 2),
 (447, 1),
 (448, 1),
 (449, 1),
 (457, 1),
 (458, 1),
 (460, 1),
 (461, 1),
 (462, 2),
 (473, 1),
 (476, 1),
 (480, 1),
 (481, 1),
 (483, 1),
 (485, 1),
 (487, 1),
 (489, 2),
 (491, 1),
 (493, 3),
 (494, 1),
 (497, 1),
 (499, 1),
 (500, 1),
 (501, 1),
 (502, 2),
 (504, 1),
 (506, 2),
 (510, 1),
 (512, 1),
 (513, 1),
 (518, 1),
 (520, 2),
 (521, 1),
 (522, 1),
 (526, 2),
 (527, 1),
 (535, 1),
 (537, 1),
 (542, 3),
 (543, 1),
 (545, 1),
 (546, 1),
 (547, 1),
 (548, 1),
 (549, 1),
 (551, 1),
 (553, 1),
 (557, 1),
 (558, 1),
 (559, 1),
 (563, 1),
 (568, 1),
 (576, 1),
 (577, 2),
 (581, 1),
 (582, 1),
 (584, 2),
 (590, 1),
 (596, 1),
 (597, 1),
 (602, 1),
 (604, 2),
 (605, 1),
 (607, 1),
 (612, 1),
 (613, 1),
 (615, 1),
 (619, 1),
 (623, 1),
 (628, 2),
 (629, 1),
 (631, 1),
 (633, 1),
 (635, 1),
 (646, 1),
 (648, 2),
 (651, 1),
 (653, 2),
 (656, 1),
 (658, 1),
 (661, 1),
 (662, 2),
 (674, 1),
 (691, 1),
 (695, 1),
 (696, 1),
 (699, 1),
 (704, 1),
 (707, 1),
 (718, 1),
 (723, 1),
 (730, 1),
 (741, 1),
 (745, 1),
 (747, 3),
 (754, 1),
 (755, 2),
 (759, 1),
 (766, 1),
 (772, 1),
 (773, 1),
 (782, 1),
 (803, 1),
 (806, 2),
 (815, 1),
 (847, 2),
 (850, 1),
 (860, 1),
 (861, 1),
 (866, 1),
 (870, 1),
 (894, 1),
 (899, 1),
 (910, 1),
 (921, 1),
 (932, 1),
 (944, 2),
 (946, 1),
 (960, 1),
 (961, 1),
 (965, 1),
 (969, 1),
 (984, 1),
 (988, 1),
 (989, 1),
 (991, 1),
 (1001, 1),
 (1006, 1),
 (1007, 1),
 (1011, 1),
 (1023, 1),
 (1036, 1),
 (1084, 2),
 (1103, 1),
 (1114, 1),
 (1145, 1),
 (1153, 1),
 (1156, 1),
 (1162, 1),
 (1184, 1),
 (1189, 1),
 (1233, 1),
 (1235, 1),
 (1239, 1),
 (1248, 1),
 (1255, 1),
 (1266, 1),
 (1298, 1),
 (1313, 1),
 (1323, 1),
 (1333, 1),
 (1338, 1),
 (1343, 1),
 (1373, 1),
 (1376, 1),
 (1382, 1),
 (1400, 1),
 (1422, 1),
 (1468, 1),
 (1480, 1),
 (1496, 1),
 (1504, 1),
 (1510, 1),
 (1534, 1),
 (1535, 1),
 (1551, 1),
 (1625, 1),
 (1685, 1),
 (1750, 1),
 (1759, 1),
 (1768, 1),
 (1776, 1),
 (1777, 1),
 (1812, 1),
 (1822, 1),
 (1828, 1),
 (1851, 1),
 (1871, 1),
 (1875, 1),
 (1902, 1),
 (1982, 1),
 (2092, 1),
 (2144, 1),
 (2164, 1),
 (2354, 1),
 (2408, 1),
 (2421, 2),
 (2542, 1),
 (2557, 1),
 (2724, 1),
 (2791, 1),
 (2893, 1),
 (3121, 1),
 (3127, 1),
 (3155, 1),
 (3318, 1),
 (3351, 1),
 (3438, 1),
 (3486, 1),
 (3596, 1),
 (4298, 1),
 (4369, 1),
 (4424, 1),
 (4643, 1)]

In [21]:
print (polk_data[(polk_data['vin']=='5N1AT2MV*KC') & (polk_data['transaction_date']=='20190831')&(polk_data['dealer_name']=='DESTINATION NISSAN')])

      data_type          vin polk_con_num         dealer_name  \
3159          N  5N1AT2MV*KC      0009510  DESTINATION NISSAN
5200          N  5N1AT2MV*KC      0009510  DESTINATION NISSAN
5245          N  5N1AT2MV*KC      0009510  DESTINATION NISSAN
5246          N  5N1AT2MV*KC      0009510  DESTINATION NISSAN
5252          N  5N1AT2MV*KC      0009510  DESTINATION NISSAN
5884          N  5N1AT2MV*KC      0009510  DESTINATION NISSAN
7133          N  5N1AT2MV*KC      0009510  DESTINATION NISSAN
7168          N  5N1AT2MV*KC      0009510  DESTINATION NISSAN
8113          N  5N1AT2MV*KC      0009510  DESTINATION NISSAN
8515          N  5N1AT2MV*KC      0009510  DESTINATION NISSAN
8988          N  5N1AT2MV*KC      0009510  DESTINATION NISSAN
9394          N  5N1AT2MV*KC      0009510  DESTINATION NISSAN
10210         N  5N1AT2MV*KC      0009510  DESTINATION NISSAN
11009         N  5N1AT2MV*KC      0009510  DESTINATION NISSAN
11010         N  5N1AT2MV*KC      0009510  DESTINATION NISSAN

         dealer_address dealer_town dealer_state dealer_zip  \
3159   770 CENTRAL  AVE      ALBANY           NY      12206
5200   770 CENTRAL  AVE      ALBANY           NY      12206
5245   770 CENTRAL  AVE      ALBANY           NY      12206
5246   770 CENTRAL  AVE      ALBANY           NY      12206
5252   770 CENTRAL  AVE      ALBANY           NY      12206
5884   770 CENTRAL  AVE      ALBANY           NY      12206
7133   770 CENTRAL  AVE      ALBANY           NY      12206
7168   770 CENTRAL  AVE      ALBANY           NY      12206
8113   770 CENTRAL  AVE      ALBANY           NY      12206
8515   770 CENTRAL  AVE      ALBANY           NY      12206
8988   770 CENTRAL  AVE      ALBANY           NY      12206
9394   770 CENTRAL  AVE      ALBANY           NY      12206
10210  770 CENTRAL  AVE      ALBANY           NY      12206
11009  770 CENTRAL  AVE      ALBANY           NY      12206
11010  770 CENTRAL  AVE      ALBANY           NY      12206

                    dealer_dma dealer_fran_ind  ... mileage trans_price  \
3159   ALBANY SCHENECTADY TROY               F  ...      71
5200   ALBANY SCHENECTADY TROY               F  ...     201
5245   ALBANY SCHENECTADY TROY               F  ...     138
5246   ALBANY SCHENECTADY TROY               F  ...
5252   ALBANY SCHENECTADY TROY               F  ...
5884   ALBANY SCHENECTADY TROY               F  ...      24
7133   ALBANY SCHENECTADY TROY               F  ...       5
7168   ALBANY SCHENECTADY TROY               F  ...
8113   ALBANY SCHENECTADY TROY               F  ...      10
8515   ALBANY SCHENECTADY TROY               F  ...       4
8988   ALBANY SCHENECTADY TROY               F  ...       8
9394   ALBANY SCHENECTADY TROY               F  ...       8
10210  ALBANY SCHENECTADY TROY               F  ...       8
11009  ALBANY SCHENECTADY TROY               F  ...     101
11010  ALBANY SCHENECTADY TROY               F  ...      17

               age               income  gender      ethnic_group  \
3159       UNKNOWN              UNKNOWN  FEMALE           UNCODED
5200   45-54 YEARS  $200,000 - $249,999  FEMALE  WESTERN EUROPEAN
5245   55-64 YEARS  $175,000 - $199,999    MALE  AFRICAN AMERICAN
5246       UNKNOWN              UNKNOWN    MALE  WESTERN EUROPEAN
5252       UNKNOWN              UNKNOWN    MALE  WESTERN EUROPEAN
5884   35-44 YEARS    $75,000 - $99,999  FEMALE  WESTERN EUROPEAN
7133   65-74 YEARS    $50,000 - $74,999  FEMALE  WESTERN EUROPEAN
7168   45-54 YEARS    $75,000 - $99,999    MALE  WESTERN EUROPEAN
8113   55-64 YEARS  $100,000 - $124,999    MALE           UNCODED
8515     75+ YEARS    $50,000 - $74,999  FEMALE  WESTERN EUROPEAN
8988       UNKNOWN              UNKNOWN  FEMALE  WESTERN EUROPEAN
9394   65-74 YEARS  $100,000 - $124,999    MALE  WESTERN EUROPEAN
10210  45-54 YEARS  $100,000 - $124,999    MALE  WESTERN EUROPEAN
11009  55-64 YEARS  $200,000 - $249,999    MALE  WESTERN EUROPEAN
11010  35-44 YEARS    $50,000 - $74,999    MALE  WESTERN EUROPEAN

       sub_ethnic_group language reg_type_code new_count
3159            UNCODED  UNCODED            04         1
5200            ENGLISH  ENGLISH            03         1
5245   AFRICAN AMERICAN  ENGLISH            03         1
5246             DANISH  ENGLISH            04         1
5252              IRISH  ENGLISH            03         1
5884            ENGLISH  ENGLISH            04         1
7133            ENGLISH  ENGLISH            04         1
7168              IRISH  ENGLISH            04         1
8113            UNCODED  UNCODED            03         1
8515            ENGLISH  ENGLISH            04         1
8988            ENGLISH  ENGLISH            03         1
9394            ENGLISH  ENGLISH            04         1
10210           ENGLISH  ENGLISH            04         1
11009             IRISH  ENGLISH            04         1
11010            FRENCH  ENGLISH            03         1

[15 rows x 48 columns]

## clean data: polk_data.vin.str.len() == 17

In [25]:
polk_data_clean=polk_data[polk_data.vin.str.len() == 17]

In [26]:
polk_data_clean.head(5)

,data_type,vin,polk_con_num,dealer_name,dealer_address,dealer_town,dealer_state,dealer_zip,dealer_dma,dealer_fran_ind,...,mileage,trans_price,age,income,gender,ethnic_group,sub_ethnic_group,language,reg_type_code,new_count
0,N,2HKRW5H34KH413305,0168076,JOHN EAGLE HONDA OF HOUSTON,18787 NORTHWEST FWY,HOUSTON,TX,77065,HOUSTON,F,...,61,22859,65-74 YEARS,"$20,000 - $29,999",FEMALE,AFRICAN AMERICAN,AFRICAN AMERICAN,ENGLISH,03,1
1,N,1FT7W2BT3KEF01065,0187122,VERNON FORD,2803 WILBARGER ST,VERNON,TX,76384,WICHITA FALLS & LAWTON,F,...,345,67210,UNKNOWN,UNKNOWN,MALE,WESTERN EUROPEAN,ENGLISH,ENGLISH,03,1
2,N,1FT7W2B66KEF39478,0264682,JIM BASS MAZDA,4032 W HOUSTON HARTE EXPY,SAN ANGELO,TX,76901,SAN ANGELO,F,...,15,43476,35-44 YEARS,UNKNOWN,UNKNOWN,HISPANIC,MEXICO,SPANISH,03,1
3,N,1FT8W3BT8KEF88536,0000903,LAWRENCE HALL FORD INC,2016 COMMERCIAL AVE,ANSON,TX,79501,ABILENE SWEETWATER,F,...,4,57268,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,06,1
4,N,1GCRWAEF2KZ185997,0000525,BAILEY TOLIVER CHEVROLET LLP,578 US HIGHWAY 277 S,HASKELL,TX,79521,ABILENE SWEETWATER,F,...,81,29840,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,06,1

In [27]:
polk_data.vin.str.len().unique()

array([17, 11])

In [28]:
polk_data_clean.vin.str.len().unique()

array([17])

In [43]:
polk_data_clean.shape # 378万
polk_data.shape # 9.5%

(4219738, 48)

In [32]:
count_series = polk_data_clean.groupby(['vin', 'transaction_date']).size()
new_df = count_series.to_frame(name = 'size').reset_index()
new_df.sort_values(by=['size'],ascending=False)  # size is the count of instances

                       vin transaction_date  size
0        19UDE2F30KA000840         20190318     1
2520205  5NMS2CAD2LH158172         20191007     1
2520207  5NMS2CAD2LH158236         20191007     1
2520208  5NMS2CAD2LH158284         20191014     1
2520209  5NMS2CAD2LH158303         20191007     1
2520210  5NMS2CAD2LH158348         20191014     1
2520211  5NMS2CAD2LH158396         20191003     1
2520212  5NMS2CAD2LH158477         20190923     1
2520213  5NMS2CAD2LH158558         20190924     1
2520214  5NMS2CAD2LH158575         20190925     1
2520215  5NMS2CAD2LH158589         20190924     1
2520216  5NMS2CAD2LH158608         20191029     1
2520217  5NMS2CAD2LH158771         20190924     1
2520218  5NMS2CAD2LH158785         20191025     1
2520219  5NMS2CAD2LH158902         20191011     1
2520220  5NMS2CAD2LH159144         20191002     1
2520221  5NMS2CAD2LH159306         20191014     1
2520222  5NMS2CAD2LH159757         20191015     1
2520223  5NMS2CAD2LH160150         20190924     1
2520224  5NMS2CAD2LH160391         20190930     1
2520225  5NMS2CAD2LH160407         20191015     1
2520226  5NMS2CAD2LH160424         20190925     1
2520227  5NMS2CAD2LH161055         20191002     1
2520228  5NMS2CAD2LH161671         20191007     1
2520229  5NMS2CAD2LH161718         20191001     1
2520230  5NMS2CAD2LH161735         20191016     1
2520231  5NMS2CAD2LH161928         20190926     1
2520206  5NMS2CAD2LH158222         20191015     1
2520204  5NMS2CAD2LH158169         20191015     1
2520233  5NMS2CAD2LH162268         20190920     1
...                    ...              ...   ...
1260144  2C4RC1EG7KR746089         20190909     1
1260119  2C4RC1EG7KR715165         20190930     1
1260118  2C4RC1EG7KR715084         20190809     1
1260117  2C4RC1EG7KR715005         20190709     1
1260103  2C4RC1EG7KR708958         20190815     1
1260092  2C4RC1EG7KR705140         20191012     1
1260093  2C4RC1EG7KR705168         20190916     1
1260094  2C4RC1EG7KR705350         20190801     1
1260095  2C4RC1EG7KR705882         20190817     1
1260096  2C4RC1EG7KR706157         20190823     1
1260097  2C4RC1EG7KR706191         20190828     1
1260098  2C4RC1EG7KR706305         20190928     1
1260099  2C4RC1EG7KR706403         20191028     1
1260100  2C4RC1EG7KR708622         20191030     1
1260101  2C4RC1EG7KR708653         20190904     1
1260102  2C4RC1EG7KR708720         20190830     1
1260104  2C4RC1EG7KR708961         20190718     1
1260116  2C4RC1EG7KR714937         20190911     1
1260105  2C4RC1EG7KR710497         20190928     1
1260106  2C4RC1EG7KR710502         20190904     1
1260107  2C4RC1EG7KR714128         20191025     1
1260108  2C4RC1EG7KR714145         20191015     1
1260109  2C4RC1EG7KR714159         20190801     1
1260110  2C4RC1EG7KR714193         20190801     1
1260111  2C4RC1EG7KR714209         20190829     1
1260112  2C4RC1EG7KR714498         20190914     1
1260113  2C4RC1EG7KR714615         20190928     1
1260114  2C4RC1EG7KR714632         20190823     1
1260115  2C4RC1EG7KR714808         20191022     1
3780322  ZPBUA1ZLXLLA06580         20191025     1

[3780323 rows x 3 columns]

In [39]:
count_series = polk_data_clean.groupby(['vin', 'polk_con_num']).size()
new_df = count_series.to_frame(name = 'size').reset_index()

In [40]:
new_df['size'].unique()

array([1])

In [41]:
count_series = polk_data_clean.groupby(['vin']).size()
new_df = count_series.to_frame(name = 'size').reset_index()

In [42]:
new_df['size'].unique()

array([1])

#

In [119]:
polk_data_clean=pd.read_csv("polk_data_clean.csv")

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Important Variable Exploration

In [45]:
polk_data_clean.columns

Index(['data_type', 'vin', 'polk_con_num', 'dealer_name', 'dealer_address',
       'dealer_town', 'dealer_state', 'dealer_zip', 'dealer_dma',
       'dealer_fran_ind', 'vin_year_model', 'segment', 'make', 'model',
       'series', 'sub_series', 'vehicle_type', 'body_style', 'cylinders',
       'drive_type', 'doors', 'fuel_type', 'orgin', 'gvw', 'bed_size',
       'cab_size', 'turbo', 'financial_inst', 'veh_mfg_base_list_price',
       'corporation', 'reg_dma', 'reg_state', 'reg_county', 'reg_zip',
       'reg_type', 'purchase_lease', 'report_year_month', 'transaction_date',
       'mileage', 'trans_price', 'age', 'income', 'gender', 'ethnic_group',
       'sub_ethnic_group', 'language', 'reg_type_code', 'new_count'],
      dtype='object')

### vin_year_model

In [48]:
polk_data_clean['vin_year_model'].unique()

array(['2019', '2020', '2018', '2017'], dtype=object)

### model

In [104]:
polk_data_clean['model'].unique()

array(['CR-V', 'F SERIES', 'SILVERADO', 'SIENNA', 'ATLAS', 'RAV4',
       'PILOT', 'CIVIC', 'ECOSPORT', 'OPTIMA', 'ROGUE SPORT', 'OUTLANDER',
       'CHEROKEE', 'RAM', 'DURANGO', 'CHARGER', 'WRANGLER', 'SIERRA',
       'TAHOE', 'CHALLENGER', 'EDGE', 'ESCAPE', 'EXPLORER', 'KICKS',
       'MALIBU', 'TUNDRA', 'EXPEDITION', 'HIGHLANDER', 'FORTE',
       'YUKON DENALI', 'ALTIMA', 'EXPRESS', 'SUBURBAN', 'WRX', 'MAXIMA',
       'BLAZER', 'ENCLAVE', 'EQUINOX', 'GRAND CHEROKEE', 'JOURNEY', 'LX',
       'RIO', 'SOUL', 'RANGER', 'TRAVERSE', 'ACADIA', 'YUKON XL',
       'FRONTIER /XE', 'CAMRY', 'RENEGADE', 'PALISADE', 'GTI', 'JETTA',
       'GLA', 'KONA', 'FUSION', 'FIT', 'SPORTAGE', 'ESCALADE', 'ENCORE',
       'CORVETTE', 'TACOMA', 'MURANO', 'FIESTA', 'TUCSON', 'RX',
       'COMPASS', 'SONATA', 'XT5', 'YUKON', 'FORESTER', 'COROLLA',
       'CAMARO', 'PACIFICA', 'XC90', 'X3', 'ELANTRA SEDAN', 'CONTINENTAL',
       '300', 'BEETLE', 'TRANSIT VAN', 'CX-5', '4 RUNNER',
       'RANGE ROVER SPORT', 'ROGUE', 'COLORADO', 'ACCORD', 'RANGE ROVER',
       'TITAN', 'CX-9', 'ARMADA', 'ECLIPSE CROSS', 'OUTLANDER SPORT',
       'SEDONA', 'NAUTILUS', 'LACROSSE', 'TRAX', 'PROMASTER CITY',
       'PASSAT', 'XTS', 'SANTA FE', 'INSIGHT', 'LAND CRUISER', 'TAURUS',
       'ES', 'XT4', 'STINGER', 'ODYSSEY', 'TIGUAN', 'SENTRA', 'TELLURIDE',
       'SUPRA', 'CANYON', 'YARIS', 'GX', 'CX-3', 'MKX', 'PASSPORT', 'MDX',
       'ENVISION', 'TERRAIN', 'PATHFINDER', 'REGAL', '370Z', 'FOCUS',
       'MIRAGE', 'MKC', 'NAVIGATOR', 'FLEX', 'NIRO', 'GLS', 'HR-V',
       'MUSTANG', 'MODEL 3', 'ESCALADE ESV', 'IMPALA', 'SPARK', 'X5',
       'SORENTO', 'QX80', 'SPRINTER', 'GLADIATOR', 'NV', 'PRIUS',
       'AVALON', 'ASCENT', 'SEQUOIA', 'QX30', 'VERSA', 'GLC', '3',
       'OUTBACK', 'ARTEON', '6', 'MACAN', 'G80', 'SONIC', 'MINI COOPER',
       'ACCENT', 'NV200', 'GLE', 'SAVANA', 'EVOQUE', 'YUKON DENALI XL',
       'ELANTRA GT', 'X4', 'Z4', 'CARAVAN', 'LS', 'RIDGELINE', 'NX', 'A8',
       'IS', 'CROSSTREK', 'TRANSIT CONNECT VAN', 'CRUZE', 'A-CLASS', '86',
       'TLX', 'PROMASTER', '530', 'C-HR', 'VELOSTER', '430', 'RDX',
       'S-CLASS', 'QX60', 'NPR', 'Q5', '540', 'XT6', 'GLC COUPE', 'BOLT',
       'F-PACE', 'IMPREZA', 'UX', 'GOLF', 'COUNTRYMAN', 'A4', 'STELVIO',
       'V60 CROSS COUNTRY', 'X1', 'XC40', 'GOLF SPORTWAGEN', 'LEGACY',
       '124 SPIDER', 'S60', 'MODEL X', 'XC60', 'CAYENNE', 'AVIATOR',
       'Q70', 'IONIQ', 'MKZ', 'A5', 'PRIUS PRIME', 'GIULIA',
       'DISCOVERY SPORT', 'CLUBMAN', 'Q50', 'E-CLASS', 'I3', 'S5', 'M2',
       'ECONOLINE', 'RANGE ROVER VELAR', '230', 'A6', 'Q7', 'Q8',
       'E-PACE', 'SANTA FE XL', 'G-CLASS', '330', 'DISCOVERY', 'SLC',
       'C-CLASS', 'XE', 'CLARITY', 'CLA-CLASS', 'QX50', 'X7', '500X',
       'I8', 'MODEL S', 'BRZ', 'M8X', 'M340', 'A7', 'CT6', 'BENTAYGA',
       'SQ5', 'EL XD 2-PASSENGER LOW SPEED VEHICLE', 'CTS', 'SL-CLASS',
       'X2', 'VELOSTER N', 'MX5', 'LEAF', 'Q3', 'ILX', 'E-TRON', 'S4',
       'Q60', 'G70', 'BOXSTER', '640', 'GRANTURISMO', 'VOLT',
       'A4 ALLROAD', 'V90 CROSS COUNTRY', 'SANTA FE SPORT', 'M240i',
       'PANAMERA', '500', 'ATS', '440', 'A3', 'X6', '320', 'MKT', 'AMG',
       'CADENZA', 'GLE COUPE', 'CAYMAN', 'HURACAN', '911', 'RCF', 'M5',
       '488 PISTA', 'G90', 'LEVANTE', 'GS', 'RC', 'XJL', 'LC', 'I-PACE',
       '4C', '740', 'METRIS', 'RS 5', '750',
       'E4 4-PASSENGER LOW SPEED VEHICLE', '720', 'CLS-CLASS', 'F-TYPE',
       'XJ', 'CASCADA', 'FORTWO', 'V90', 'GHIBLI', 'LCF', 'GS-F',
       'PHANTOM', 'WRAITH', 'CULLINAN', 'PORTOFINO', 'FLYING SPUR',
       'C-MAX', 'VANTAGE', 'TT', 'S90', 'K900', '600', '550', 'DBS',
       '500L', '812', '488 GTS', 'M4', 'URUS', 'DB11', 'S3',
       'E6 6-PASSENGER LOW SPEED VEHICLE', 'RLX',
       'E2 2-PASSENGER LOW SPEED VEHICLE', 'V60', 'R8', 'MULSANNE', '340',
       'RS 3', '328', 'M3', '650', 'GT', 'QUATTROPORTE', 'GTC4 LUSSO',
       'DAWN', 'M760I', '840', 'XF', 'CHIRON', 'SENNA', 'TOUAREG',
       'PRIUS C', 'EVORA', 'PATRIOT', '570', 'NSX', '488 PISTA SPIDER',
       'AVENTADOR', 'YARIS iA', 'TIGUAN LIMITED', 'ACADIA LIMITED',
       'RS 7', 'REVERO', 'GT-R', 'M6', 'GHOST', '745', 'ALPINA B7',
       'CORSAIR', 'VANQUISH', 'IM', 'MIRAI', 'CITY EXPRESS', '488 GTB',
       'S7', 'S60 CROSS COUNTRY', 'NEXO', 'FUSO', '570GT', 'S6', 'RAPIDE',
       'QX70', 'SOUL EV', 'VOYAGER', 'M8', 'XJR'], dtype=object)

### make

In [59]:
make=polk_data_clean['make'].unique()

numpy.ndarray

In [60]:
make.sort(axis=-1, kind='quicksort', order=None)

In [61]:
print (make)

['ACURA' 'ALFA ROMEO' 'ASTON MARTIN' 'AUDI' 'BENTLEY' 'BMW' 'BUGATTI'
 'BUICK' 'CADILLAC' 'CHEVROLET' 'CHRYSLER' 'DODGE' 'FERRARI' 'FIAT' 'FORD'
 'FREIGHTLINER' 'GEM' 'GENESIS' 'GMC' 'HONDA' 'HYUNDAI' 'INFINITI' 'ISUZU'
 'JAGUAR' 'JEEP' 'KARMA' 'KIA' 'LAMBORGHINI' 'LAND ROVER' 'LEXUS'
 'LINCOLN' 'LOTUS' 'MASERATI' 'MAZDA' 'MCLAREN' 'MERCEDES-BENZ' 'MINI'
 'MITSUBISHI' 'MITSUBISHI FUSO' 'NISSAN' 'PORSCHE' 'RAM' 'ROLLS ROYCE'
 'SMARTCAR' 'SUBARU' 'TESLA' 'TOYOTA' 'VOLKSWAGEN' 'VOLVO']

### mileage

In [101]:
polk_data_clean['mileage'].max()

89773.0

In [102]:
polk_data_clean['mileage'].min()

1.0

In [103]:
mileage=polk_data_clean['mileage'].unique()
mileage.sort(axis=-1, kind='quicksort', order=None)
print (mileage)

[1.0000e+00 2.0000e+00 3.0000e+00 ... 8.9311e+04 8.9773e+04        nan]

### date

In [113]:
type(polk_data_clean)

pandas.core.frame.DataFrame

In [121]:
polk_data_clean['transaction_date'].describe()

count    3.780323e+06
mean     2.019082e+07
std      1.453628e+03
min      1.919102e+07
25%      2.019082e+07
50%      2.019091e+07
75%      2.019100e+07
max      2.019110e+07
Name: transaction_date, dtype: float64

In [122]:
polk_data_clean['transaction_date']=pd.to_datetime(polk_data_clean['transaction_date'], format='%Y%m%d', errors='coerce')

In [124]:
polk_data_clean['transaction_date'].describe()

count                 3780323
unique                    905
top       2019-09-30 00:00:00
freq                   133130
first     1919-10-18 00:00:00
last      2019-11-02 00:00:00
Name: transaction_date, dtype: object

In [126]:
polk_data_clean=polk_data_clean.sort_values(by=['transaction_date'])

In [127]:
polk_data_clean['transaction_date']

1824095   1919-10-18
3508429   1919-11-13
3114415   1965-08-10
740770    1970-04-06
743152    1970-04-15
795790    1979-08-31
527134    1990-02-16
481487    1990-07-22
2082785   1999-09-02
830643    1999-09-04
2645681   1999-10-30
2080529   1999-11-30
7887      1999-12-31
1332442   1999-12-31
1334230   1999-12-31
2576438   1999-12-31
862038    1999-12-31
1333117   1999-12-31
1332862   1999-12-31
4890      1999-12-31
1334235   1999-12-31
1332832   1999-12-31
1330615   1999-12-31
10624     1999-12-31
2926075   1999-12-31
2580122   1999-12-31
1334025   1999-12-31
5508      1999-12-31
1332068   1999-12-31
1329863   1999-12-31
             ...
3710475   2019-10-31
2896432   2019-10-31
3710523   2019-10-31
3435143   2019-10-31
3685894   2019-10-31
3225384   2019-10-31
3435217   2019-10-31
3225387   2019-10-31
3225390   2019-10-31
2659561   2019-10-31
3225379   2019-10-31
2659548   2019-10-31
2611098   2019-10-31
2896465   2019-10-31
3435198   2019-10-31
3435181   2019-10-31
2896457   2019-10-31
2770674   2019-10-31
2659553   2019-10-31
3639978   2019-10-31
2896450   2019-10-31
2770676   2019-10-31
2611107   2019-10-31
3435191   2019-10-31
2033113   2019-11-01
2114953   2019-11-01
2092842   2019-11-01
2028424   2019-11-01
1331986   2019-11-01
1451647   2019-11-02
Name: transaction_date, Length: 3780323, dtype: datetime64[ns]

In [128]:
polk_data_clean.to_csv("polk_data_clean.csv",index=False)