In [1]:
import pandas as pd

In [2]:
vma = pd.read_csv('vma.csv')

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
vma.head()

,Key,Source,Vin,Year,Make,Model,Trim,Mileage,Date,MIDMapAlgorithm,...,RMI_adj_current,AvgPrice,avgmiles,Velocity,Salesefficiency,AvgDaysToSell,vol_tier,availability,inventory,spread_current
0,5004514,wholesale,1FTEW1EF7GFD46982,2016,Ford,F-150,Lariat,36524.0,2019-08-08,Exact,...,33600.0,26395.0,45682.0,Cold,0.533909,22.0,Tier1,Medium,1582.0,2800.0
1,5092247,wholesale,1FMCU0JD7HUB06187,2017,Ford,Escape,Titanium,20970.0,2019-08-01,Exact,...,18600.0,14428.0,33843.0,Hot,0.825581,19.0,Tier1,Medium,2286.0,2700.0
2,5092247,wholesale,1FMCU0J98GUC56903,2016,Ford,Escape,Titanium,19531.0,2019-08-01,Exact,...,17950.0,13638.0,41953.0,Hot,0.776985,18.0,Tier1,Low,323.0,2200.0
3,5420499,wholesale,1FADP3FE9HL274413,2017,Ford,Focus,SE,36482.0,2019-08-01,Exact,...,10950.0,10469.0,36473.0,Hot,0.702541,24.0,Tier1,High,463.0,1825.0
4,5177158,wholesale,1FT8W3DTXHEC60427,2017,Ford,F-350,Lariat,109622.0,2019-08-01,Exact,...,43200.0,45758.0,60619.0,Hot,0.491837,19.0,Tier4,High,120.0,3700.0

In [4]:
vma.shape

(32668869, 23)

In [5]:
vma.Source.unique()

array(['wholesale', 'atc_listi', 'ddc_listi', 'polk', 'VASC', 'VASNC',
       'vauto_rec'], dtype=object)

In [6]:
mask =vma['Source']=='polk'
vma[mask].shape

(3415643, 23)

In [7]:
vma_polk=vma.loc[vma['Source']=='polk']

In [8]:
vma_polk.shape

(3415643, 23)

In [9]:
Polk= pd.read_csv("polk_data_clean.csv")

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
Polk.columns

Index(['data_type', 'vin', 'polk_con_num', 'dealer_name', 'dealer_address',
       'dealer_town', 'dealer_state', 'dealer_zip', 'dealer_dma',
       'dealer_fran_ind', 'vin_year_model', 'segment', 'make', 'model',
       'series', 'sub_series', 'vehicle_type', 'body_style', 'cylinders',
       'drive_type', 'doors', 'fuel_type', 'orgin', 'gvw', 'bed_size',
       'cab_size', 'turbo', 'financial_inst', 'veh_mfg_base_list_price',
       'corporation', 'reg_dma', 'reg_state', 'reg_county', 'reg_zip',
       'reg_type', 'purchase_lease', 'report_year_month', 'transaction_date',
       'mileage', 'trans_price', 'age', 'income', 'gender', 'ethnic_group',
       'sub_ethnic_group', 'language', 'reg_type_code', 'new_count'],
      dtype='object')

In [11]:
Polk=Polk.loc[:,['vin', 'polk_con_num','dealer_name','purchase_lease','transaction_date','trans_price']]

In [12]:
mask = (Polk['transaction_date'] > '2019-08-01') & (Polk['transaction_date'] <= '2019-10-31')
Polk = Polk.loc[mask]

In [13]:
Polk.shape

(3415643, 6)

In [14]:
p= pd.read_csv("polk_merge_new.csv")

In [15]:
Polk_m = pd.read_csv("PolkCAMatch_2017_02_FEB_v4.csv")
pd.set_option('display.max_columns', None)

In [16]:
p.columns

Index(['Unnamed: 0', 'Key', 'Source', 'Vin', 'Year', 'Make', 'Model', 'Trim',
       'Mileage', 'Date'],
      dtype='object')

In [17]:
Polk.columns

Index(['vin', 'polk_con_num', 'dealer_name', 'purchase_lease',
       'transaction_date', 'trans_price'],
      dtype='object')

In [18]:
Polk_new = pd.merge(Polk, p, how='right', left_on=['vin'], right_on = ['Vin'])

In [19]:
Polk_new.shape

(3415643, 16)

In [20]:
Polk_new.columns

Index(['vin', 'polk_con_num', 'dealer_name', 'purchase_lease',
       'transaction_date', 'trans_price', 'Unnamed: 0', 'Key', 'Source', 'Vin',
       'Year', 'Make', 'Model', 'Trim', 'Mileage', 'Date'],
      dtype='object')

In [21]:
Polk_new=Polk_new.loc[:,['Vin','polk_con_num','dealer_name', 'purchase_lease',
       'trans_price']]

In [22]:
Polk_new.head()

,Vin,polk_con_num,dealer_name,purchase_lease,trans_price
0,5TDDZ3DC0LS228496,7068.0,TOYOTA OF WATERTOWN,RET-Loan,NaN
1,KNMAT2MT9KP550612,19923.0,COGGIN NISSAN,RET-Loan,NaN
2,5J6RW2H5XKL013495,18049.0,ED NAPLETON HONDA,RET-Loan,NaN
3,1C4RJFBGXKC815499,22221.0,FLETCHER CHRYSLER DODGE JEEP,RET-Loan,NaN
4,7FARW1H50KE021466,23597.0,AUTONATION HONDA MIAMI LAKES,RET-Lease,NaN

In [48]:
Polk_m.columns

Index(['associationid', 'polk_id', 'polk_sourcecode', 'name', 'address',
       'city', 'state', 'zip', 'countrycode', 'ca_id', 'ca_sourcecode',
       'cust_name', 'c_addr_line_1', 'c_city', 'c_province_cd', 'c_postal_cd',
       'c_zipext', 'c_countrycode'],
      dtype='object')

In [54]:
Polk_m.head()

,associationid,polk_id,polk_sourcecode,name,address,city,state,zip,countrycode,ca_id,ca_sourcecode,cust_name,c_addr_line_1,c_city,c_province_cd,c_postal_cd,c_zipext,c_countrycode
0,171662,3.0,POLK,RIPLEY & FLETCHER FORD,80 MAIN ST,SOUTH PARIS,ME,4281,USA,CA11213526,CA,RIPLEY & FLETCHER FORD,80 MAIN ST,SOUTH PARIS,ME,4281.0,1432.0,USA
1,186291,25.0,POLK,CHUCK RENZE FORD LLC,751 E LAKESHORE DR,MANISTIQUE,MI,49854,USA,CA11219684,CA,CHUCK RENZE FORD,751 E LAKESHORE DR,MANISTIQUE,MI,49854.0,1693.0,USA
2,196131,30.0,POLK,PUNDMANN MOTOR COMPANY,2727 W CLAY ST,SAINT CHARLES,MO,63301,USA,CA11239151,CA,PUNDMANN FORD,2727 W CLAY ST,SAINT CHARLES,MO,63301.0,2539.0,USA
3,111403,36.0,POLK,DAWSON MOTOR CO,255 N MAIN ST,DAWSON,GA,39842,USA,CA11379356,CA,DAWSON MOTOR CO,255 N MAIN ST,DAWSON,GA,39842.0,1419.0,USA
4,15562,41.0,POLK,RANDALL FORD INC,5500 ROGERS AVE,FORT SMITH,AR,72903,USA,CA11269698,CA,RANDALL FORD,5500 ROGERS AVE,FORT SMITH,AR,72903.0,3748.0,USA

In [60]:
len(Polk_m.associationid.unique())

67755

In [61]:
len(Polk_m.polk_id.unique())

69018

In [62]:
len(Polk_m.ca_id.unique())

67755

In [23]:
vma_polk.columns

Index(['Key', 'Source', 'Vin', 'Year', 'Make', 'Model', 'Trim', 'Mileage',
       'Date', 'MIDMapAlgorithm', 'mid15', 'VPID', 'MMR_adj_current',
       'RMI_adj_current', 'AvgPrice', 'avgmiles', 'Velocity',
       'Salesefficiency', 'AvgDaysToSell', 'vol_tier', 'availability',
       'inventory', 'spread_current'],
      dtype='object')

In [24]:
vma_polk.head()

,Key,Source,Vin,Year,Make,Model,Trim,Mileage,Date,MIDMapAlgorithm,mid15,VPID,MMR_adj_current,RMI_adj_current,AvgPrice,avgmiles,Velocity,Salesefficiency,AvgDaysToSell,vol_tier,availability,inventory,spread_current
16464448,5TDDZ3DC0LS,polk,5TDDZ3DC0LS228496,2020,TOYOTA,SIENNA,MTL,1504.0,2019-08-02,Exact,2.020050e+14,2020_Toyota_Sienna,NaN,NaN,25053.0,14380.0,Cold,0.325123,23.0,Tier5,Other,46.0,NaN
16464449,KNMAT2MT9KP,polk,KNMAT2MT9KP550612,2019,NISSAN,ROGUE,MTL,2.0,2019-08-02,Exact,2.019056e+14,2019_Nissan_Rogue,19950.0,23400.0,19394.0,13279.0,Cold,0.520348,17.0,Tier2,High,496.0,3450.0
16464450,5J6RW2H5XKL,polk,5J6RW2H5XKL013495,2019,HONDA,CR-V,EX,10.0,2019-08-02,Exact,2.019023e+14,2019_Honda_CR-V,26100.0,27300.0,24036.0,5525.0,Hot,0.736342,28.0,Tier4,Excessive,102.0,1200.0
16464451,1C4RJFBGXKC,polk,1C4RJFBGXKC815499,2019,JEEP,GRAND CHEROKEE,LTD,11.0,2019-08-02,Popular,2.019028e+14,2019_Jeep_Grand Cherokee,32400.0,35300.0,31512.0,15594.0,Warm,0.543647,21.0,Tier1,High,534.0,2900.0
16464452,7FARW1H50KE,polk,7FARW1H50KE021466,2019,HONDA,CR-V,EX,25.0,2019-08-02,Exact,2.019024e+14,2019_Honda_CR-V,25300.0,25600.0,24036.0,5525.0,Hot,0.736342,28.0,Tier4,Excessive,102.0,300.0

In [25]:
Polk_new.shape

(3415643, 5)

In [26]:
df = pd.merge(Polk_new, vma_polk,  how='right', left_on=['Vin'], right_on = ['Vin'])

In [27]:
df.shape

(3415643, 27)

In [28]:
df.columns

Index(['Vin', 'polk_con_num', 'dealer_name', 'purchase_lease', 'trans_price',
       'Key', 'Source', 'Year', 'Make', 'Model', 'Trim', 'Mileage', 'Date',
       'MIDMapAlgorithm', 'mid15', 'VPID', 'MMR_adj_current',
       'RMI_adj_current', 'AvgPrice', 'avgmiles', 'Velocity',
       'Salesefficiency', 'AvgDaysToSell', 'vol_tier', 'availability',
       'inventory', 'spread_current'],
      dtype='object')

In [29]:
df['polk_con_num'] = pd.to_numeric(df['polk_con_num'], errors='coerce')
df.head()

,Vin,polk_con_num,dealer_name,purchase_lease,trans_price,Key,Source,Year,Make,Model,Trim,Mileage,Date,MIDMapAlgorithm,mid15,VPID,MMR_adj_current,RMI_adj_current,AvgPrice,avgmiles,Velocity,Salesefficiency,AvgDaysToSell,vol_tier,availability,inventory,spread_current
0,5TDDZ3DC0LS228496,7068.0,TOYOTA OF WATERTOWN,RET-Loan,NaN,5TDDZ3DC0LS,polk,2020,TOYOTA,SIENNA,MTL,1504.0,2019-08-02,Exact,2.020050e+14,2020_Toyota_Sienna,NaN,NaN,25053.0,14380.0,Cold,0.325123,23.0,Tier5,Other,46.0,NaN
1,KNMAT2MT9KP550612,19923.0,COGGIN NISSAN,RET-Loan,NaN,KNMAT2MT9KP,polk,2019,NISSAN,ROGUE,MTL,2.0,2019-08-02,Exact,2.019056e+14,2019_Nissan_Rogue,19950.0,23400.0,19394.0,13279.0,Cold,0.520348,17.0,Tier2,High,496.0,3450.0
2,5J6RW2H5XKL013495,18049.0,ED NAPLETON HONDA,RET-Loan,NaN,5J6RW2H5XKL,polk,2019,HONDA,CR-V,EX,10.0,2019-08-02,Exact,2.019023e+14,2019_Honda_CR-V,26100.0,27300.0,24036.0,5525.0,Hot,0.736342,28.0,Tier4,Excessive,102.0,1200.0
3,1C4RJFBGXKC815499,22221.0,FLETCHER CHRYSLER DODGE JEEP,RET-Loan,NaN,1C4RJFBGXKC,polk,2019,JEEP,GRAND CHEROKEE,LTD,11.0,2019-08-02,Popular,2.019028e+14,2019_Jeep_Grand Cherokee,32400.0,35300.0,31512.0,15594.0,Warm,0.543647,21.0,Tier1,High,534.0,2900.0
4,7FARW1H50KE021466,23597.0,AUTONATION HONDA MIAMI LAKES,RET-Lease,NaN,7FARW1H50KE,polk,2019,HONDA,CR-V,EX,25.0,2019-08-02,Exact,2.019024e+14,2019_Honda_CR-V,25300.0,25600.0,24036.0,5525.0,Hot,0.736342,28.0,Tier4,Excessive,102.0,300.0

In [30]:
Polk_m['polk_id'] = Polk_m['polk_id'].astype(float)

In [31]:
Polk_m.head()

,associationid,polk_id,polk_sourcecode,name,address,city,state,zip,countrycode,ca_id,ca_sourcecode,cust_name,c_addr_line_1,c_city,c_province_cd,c_postal_cd,c_zipext,c_countrycode
0,171662,3.0,POLK,RIPLEY & FLETCHER FORD,80 MAIN ST,SOUTH PARIS,ME,4281,USA,CA11213526,CA,RIPLEY & FLETCHER FORD,80 MAIN ST,SOUTH PARIS,ME,4281.0,1432.0,USA
1,186291,25.0,POLK,CHUCK RENZE FORD LLC,751 E LAKESHORE DR,MANISTIQUE,MI,49854,USA,CA11219684,CA,CHUCK RENZE FORD,751 E LAKESHORE DR,MANISTIQUE,MI,49854.0,1693.0,USA
2,196131,30.0,POLK,PUNDMANN MOTOR COMPANY,2727 W CLAY ST,SAINT CHARLES,MO,63301,USA,CA11239151,CA,PUNDMANN FORD,2727 W CLAY ST,SAINT CHARLES,MO,63301.0,2539.0,USA
3,111403,36.0,POLK,DAWSON MOTOR CO,255 N MAIN ST,DAWSON,GA,39842,USA,CA11379356,CA,DAWSON MOTOR CO,255 N MAIN ST,DAWSON,GA,39842.0,1419.0,USA
4,15562,41.0,POLK,RANDALL FORD INC,5500 ROGERS AVE,FORT SMITH,AR,72903,USA,CA11269698,CA,RANDALL FORD,5500 ROGERS AVE,FORT SMITH,AR,72903.0,3748.0,USA

In [32]:
len(df.dealer_name.unique())

18640

In [33]:
len(Polk_m.name.unique())

60981

In [65]:
max(Polk_m.polk_id.unique())

412143.0

In [66]:
max(df.polk_con_num.unique())

467101.0

In [97]:
mylist = list(set(df.polk_con_num.unique()))

In [98]:
mylist_m = list(set(Polk_m.polk_id.unique()))

In [99]:
sum(map(lambda each: each in mylist_m, mylist))

15200

In [100]:
S1 = set(mylist)
S2 = set(mylist_m)
len(S1.intersection(S2))

15200

In [36]:
match = pd.merge(df, Polk_m, left_on=['polk_con_num'], right_on=['polk_id'],how='left')

In [37]:
match.shape

(3415643, 45)

In [104]:
match.head()

,Vin,polk_con_num,dealer_name,purchase_lease,trans_price,Key,Source,Year,Make,Model,Trim,Mileage,Date,MIDMapAlgorithm,mid15,VPID,MMR_adj_current,RMI_adj_current,AvgPrice,avgmiles,Velocity,Salesefficiency,AvgDaysToSell,vol_tier,availability,inventory,spread_current,associationid,polk_id,polk_sourcecode,name,address,city,state,zip,countrycode,ca_id,ca_sourcecode,cust_name,c_addr_line_1,c_city,c_province_cd,c_postal_cd,c_zipext,c_countrycode
0,5TDDZ3DC0LS228496,7068.0,TOYOTA OF WATERTOWN,RET-Loan,NaN,5TDDZ3DC0LS,polk,2020,TOYOTA,SIENNA,MTL,1504.0,2019-08-02,Exact,2.020050e+14,2020_Toyota_Sienna,NaN,NaN,25053.0,14380.0,Cold,0.325123,23.0,Tier5,Other,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KNMAT2MT9KP550612,19923.0,COGGIN NISSAN,RET-Loan,NaN,KNMAT2MT9KP,polk,2019,NISSAN,ROGUE,MTL,2.0,2019-08-02,Exact,2.019056e+14,2019_Nissan_Rogue,19950.0,23400.0,19394.0,13279.0,Cold,0.520348,17.0,Tier2,High,496.0,3450.0,72684.0,19923.0,POLK,COGGIN NISSAN,10600 ATLANTIC BLVD,JACKSONVILLE,FL,32225.0,USA,CA11220092,CA,COGGIN NISSAN ON ATLANTIC,10600 ATLANTIC BLVD,JACKSONVILLE,FL,32225.0,6728.0,USA
2,5J6RW2H5XKL013495,18049.0,ED NAPLETON HONDA,RET-Loan,NaN,5J6RW2H5XKL,polk,2019,HONDA,CR-V,EX,10.0,2019-08-02,Exact,2.019023e+14,2019_Honda_CR-V,26100.0,27300.0,24036.0,5525.0,Hot,0.736342,28.0,Tier4,Excessive,102.0,1200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1C4RJFBGXKC815499,22221.0,FLETCHER CHRYSLER DODGE JEEP,RET-Loan,NaN,1C4RJFBGXKC,polk,2019,JEEP,GRAND CHEROKEE,LTD,11.0,2019-08-02,Popular,2.019028e+14,2019_Jeep_Grand Cherokee,32400.0,35300.0,31512.0,15594.0,Warm,0.543647,21.0,Tier1,High,534.0,2900.0,200850.0,22221.0,POLK,FLETCHER CHRYSLER JEEP DODGE,3111 E 32ND ST,JOPLIN,MO,64804.0,USA,CA11274812,CA,FLETCHER SUPERSTORE,3111 E 32ND ST,JOPLIN,MO,64804.0,3212.0,USA
4,7FARW1H50KE021466,23597.0,AUTONATION HONDA MIAMI LAKES,RET-Lease,NaN,7FARW1H50KE,polk,2019,HONDA,CR-V,EX,25.0,2019-08-02,Exact,2.019024e+14,2019_Honda_CR-V,25300.0,25600.0,24036.0,5525.0,Hot,0.736342,28.0,Tier4,Excessive,102.0,300.0,81964.0,23597.0,POLK,AUTONATION HONDA MIAMI LAKES,5925 NW 167TH ST,HIALEAH,FL,33015.0,USA,CA11207450,CA,AUTONATION HONDA MIAMI LAKES,5925 NW 167TH ST,HIALEAH,FL,33015.0,4310.0,USA

In [107]:
df.shape

(3415643, 27)

In [106]:
df.isna().sum()

Vin                      0
polk_con_num        233714
dealer_name              0
purchase_lease           0
trans_price        2286433
Key                      0
Source                   0
Year                     0
Make                     0
Model                    0
Trim                123633
Mileage             709131
Date                     0
MIDMapAlgorithm          0
mid15                12284
VPID                 28972
MMR_adj_current     731769
RMI_adj_current     569770
AvgPrice            177839
avgmiles            177839
Velocity            292433
Salesefficiency     177967
AvgDaysToSell       177839
vol_tier            177839
availability        177839
inventory           179232
spread_current      877204
dtype: int64

In [41]:
match_new.isna().sum()

ca_id               730806
Vin                      0
Year                     0
Make                     0
Model                    0
Trim                123633
Mileage             709131
Date                     0
MIDMapAlgorithm          0
mid15                12284
VPID                 28972
MMR_adj_current     731769
RMI_adj_current     569770
AvgPrice            177839
avgmiles            177839
Velocity            292433
Salesefficiency     177967
AvgDaysToSell       177839
vol_tier            177839
availability        177839
inventory           179232
spread_current      877204
polk_con_num        233714
dealer_name              0
purchase_lease           0
trans_price        2286433
dtype: int64

In [108]:
match.columns

Index(['Vin', 'polk_con_num', 'dealer_name', 'purchase_lease', 'trans_price',
       'Key', 'Source', 'Year', 'Make', 'Model', 'Trim', 'Mileage', 'Date',
       'MIDMapAlgorithm', 'mid15', 'VPID', 'MMR_adj_current',
       'RMI_adj_current', 'AvgPrice', 'avgmiles', 'Velocity',
       'Salesefficiency', 'AvgDaysToSell', 'vol_tier', 'availability',
       'inventory', 'spread_current', 'associationid', 'polk_id',
       'polk_sourcecode', 'name', 'address', 'city', 'state', 'zip',
       'countrycode', 'ca_id', 'ca_sourcecode', 'cust_name', 'c_addr_line_1',
       'c_city', 'c_province_cd', 'c_postal_cd', 'c_zipext', 'c_countrycode'],
      dtype='object')

In [38]:
match_new=match.loc[:,['ca_id', 'Vin', 'Year', 'Make', 'Model', 'Trim', 'Mileage',
       'Date', 'MIDMapAlgorithm', 'mid15', 'VPID', 'MMR_adj_current',
       'RMI_adj_current', 'AvgPrice', 'avgmiles', 'Velocity',
       'Salesefficiency', 'AvgDaysToSell', 'vol_tier', 'availability',
       'inventory', 'spread_current', 'polk_con_num', 'dealer_name','purchase_lease','trans_price']]

In [40]:
match_new.head()

,ca_id,Vin,Year,Make,Model,Trim,Mileage,Date,MIDMapAlgorithm,mid15,VPID,MMR_adj_current,RMI_adj_current,AvgPrice,avgmiles,Velocity,Salesefficiency,AvgDaysToSell,vol_tier,availability,inventory,spread_current,polk_con_num,dealer_name,purchase_lease,trans_price
0,NaN,5TDDZ3DC0LS228496,2020,TOYOTA,SIENNA,MTL,1504.0,2019-08-02,Exact,2.020050e+14,2020_Toyota_Sienna,NaN,NaN,25053.0,14380.0,Cold,0.325123,23.0,Tier5,Other,46.0,NaN,7068.0,TOYOTA OF WATERTOWN,RET-Loan,NaN
1,CA11220092,KNMAT2MT9KP550612,2019,NISSAN,ROGUE,MTL,2.0,2019-08-02,Exact,2.019056e+14,2019_Nissan_Rogue,19950.0,23400.0,19394.0,13279.0,Cold,0.520348,17.0,Tier2,High,496.0,3450.0,19923.0,COGGIN NISSAN,RET-Loan,NaN
2,NaN,5J6RW2H5XKL013495,2019,HONDA,CR-V,EX,10.0,2019-08-02,Exact,2.019023e+14,2019_Honda_CR-V,26100.0,27300.0,24036.0,5525.0,Hot,0.736342,28.0,Tier4,Excessive,102.0,1200.0,18049.0,ED NAPLETON HONDA,RET-Loan,NaN
3,CA11274812,1C4RJFBGXKC815499,2019,JEEP,GRAND CHEROKEE,LTD,11.0,2019-08-02,Popular,2.019028e+14,2019_Jeep_Grand Cherokee,32400.0,35300.0,31512.0,15594.0,Warm,0.543647,21.0,Tier1,High,534.0,2900.0,22221.0,FLETCHER CHRYSLER DODGE JEEP,RET-Loan,NaN
4,CA11207450,7FARW1H50KE021466,2019,HONDA,CR-V,EX,25.0,2019-08-02,Exact,2.019024e+14,2019_Honda_CR-V,25300.0,25600.0,24036.0,5525.0,Hot,0.736342,28.0,Tier4,Excessive,102.0,300.0,23597.0,AUTONATION HONDA MIAMI LAKES,RET-Lease,NaN

In [39]:
match_new.to_csv('polk_322.csv')

In [42]:
len(match_new.polk_con_num.unique())

19389

In [45]:
len(match_new.dealer_name.unique())

18640

In [43]:
len(match_new.ca_id.unique())

15088

In [106]:
client_master = pd.read_csv("client_master.csv")

In [26]:
client_master.head(20)

,acctnum,accttype,acctsubtype,caid,custname,custcity,custaddrline1,custprovincecode,custpostalcode,externalidtype,externalid,acctaddline1,acctcity,acctprovincecd,acctpostalcd
0,DETA7000403,OVC,AUCTION,CA11741570,GARY L HAZELLIEF/PUBLIC,ANN ARBOR,3085 WHISPERWOOD DR,USA-MI,48105,OVC ID,5698281,3085 WHISPERWOOD DR,ANN ARBOR,USA-MI,48105
1,AREN7000438,OVC,AUCTION,CA11740438,ARSALAN ALI,VILLA PARK,901 W NORTH AVE,USA-IL,60181,OVC ID,5700002,901 W NORTH AVE,VILLA PARK,USA-IL,60181
2,ALOH7001395,OVC,AUCTION,CA11747260,GARY OSHIRO,HONOLULU,3720 MAHINA AVE,USA-HI,96816,OVC ID,5740421,3720 MAHINA AVE,HONOLULU,USA-HI,96816
3,80506,NGC,DEALER,CA11346933,BAVARIAN MOTORS,TOMBALL,9428 HUFSMITH RD,USA-TX,77375,NGC AA,5317162,8561 RAYSON RD STE C,HOUSTON,USA-TX,77080
4,5224772,OVC,AUCTION,CA11465278,JETT AUCTION LIMITED,PARKSVILLE,861 ALLSBROOK RD,CAN-BC,V9P 2A9,OVC ID,399669,861 ALLSBROOK RD,PARKSVILLE,CAN-BC,V9P 2A9
5,OAA 7024585,OVC,AUCTION,CA11756287,WILFREDO COLON,WHITEHALL,667 FAIRWAY BLVD,USA-OH,43213,OVC ID,5858714,667 FAIRWAY BLVD,WHITEHALL,USA-OH,43213
6,5099679,OVC,AUCTION,CA11661885,SPORTS AUTO SALES,NATIONAL CITY,1112 NATIONAL CITY BLVD,USA-CA,91950,OVC ID,286264,1112 NATIONAL CITY BLVD,NATIONAL CITY,USA-CA,91950
7,OAA 7008152,OVC,AUCTION,CA11754476,CYNTHIA S LEMASTER,COLUMBUS,3614 WALMAR DR,USA-OH,43224,OVC ID,5830970,3614 WALMAR DR,COLUMBUS,USA-OH,43224
8,OAA 7025310,OVC,AUCTION,CA11756152,JOHN R MATTHEWS 11,CALEDONIA,9043 EMAHISER RD,USA-OH,43314,OVC ID,5860598,9043 EMAHISER RD,CALEDONIA,USA-OH,43314
9,DADE7000623,OVC,AUCTION,CA11739863,MICHAEL BRIGGS,GREENSBORO,4129 CORDIN ROAD TRAIL,USA-NC,27405,OVC ID,5708589,4129 CORDIN ROAD TRAIL,GREENSBORO,USA-NC,27405
10,ALBA7003123,OVC,AUCTION,CA11751211,REUBEN J PECK,LOS ALAMOS,795 46TH ST,USA-NM,87544,OVC ID,5786505,795 46TH ST,LOS ALAMOS,USA-NM,87544
11,102439,NGC,DEALER,CA11327584,GULFSHORE MOTORSPORTS LLC,NAPLES,4344 ENTERPRISE AVE,USA-FL,34104,NGC NUM,102439,4344 ENTERPRISE AVE STE 1,NAPLES,USA-FL,34104
12,NADE7002481,OVC,AUCTION,CA11750378,GREGORY TAYLOR,BURLINGTON,8 KAREMARK DR,USA-NJ,08016,OVC ID,5772938,8 KAREMARK DR,BURLINGTON,USA-NJ,08016
13,5411057,OVC,AUCTION,CA11760597,BLACKDOG AUTO SALES,LINCOLNSHIRE,505 BOND ST,USA-IL,60069,OVC ID,6496291,505 BOND ST,LINCOLNSHIRE,USA-IL,60069
14,ALBA7002786,OVC,AUCTION,CA11749728,LILIANA G HERNANDEZ,ALBUQUERQUE,4141 BARCELONA RD SW,USA-NM,87121,OVC ID,5779648,4141 BARCELONA RD SW,ALBUQUERQUE,USA-NM,87121
15,AYCA7000733,OVC,AUCTION,CA11741072,JAMES SUMPTER,RICHMOND,800 CEDAR FORK RD,USA-VA,23223,OVC ID,5713487,800 CEDAR FORK RD,RICHMOND,USA-VA,23223
16,KCAA7000605,OVC,AUCTION,CA11738860,KURT E GIEDINGHAGEN,INDEPENDENCE,4925 S BRYANT DR,USA-MO,64055,OVC ID,5707766,4925 S BRYANT DR,INDEPENDENCE,USA-MO,64055
17,RAA 7001602,OVC,AUCTION,CA11748716,EDWARD A'BECKETT,HAYWARD,592 GARDEN PL,USA-CA,94541,OVC ID,5747555,592 GARDEN PL,HAYWARD,USA-CA,94541
18,OAA 7023035,OVC,AUCTION,CA11754045,HECTOR M BASAVE,CHICAGO,2307 N TRIPP AVE,USA-IL,60639,OVC ID,5855438,2307 N TRIPP AVE,CHICAGO,USA-IL,60639
19,TCAA7000537,OVC,AUCTION,CA11737912,WAYNE JACKSON,TUCSON,6205 E ROUGH ROCK DR,USA-AZ,85756,OVC ID,5704754,6205 E ROUGH ROCK DR,TUCSON,USA-AZ,85756

In [27]:
client_master.columns

Index(['acctnum', 'accttype', 'acctsubtype', 'caid', 'custname', 'custcity',
       'custaddrline1', 'custprovincecode', 'custpostalcode', 'externalidtype',
       'externalid', 'acctaddline1', 'acctcity', 'acctprovincecd',
       'acctpostalcd'],
      dtype='object')